# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/hertzg/rtl_433_docker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "23.11-alpine@sha256:190b5c4fc46facd4a65ba331211c7d2d78b0928a5bbd8db6c6d8e208fe0400fa"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

args:
- -c
- /etc/rtl_433/service.conf
- -R
- "153"
- -R
- "20"
- -M
- level
- -M
- time

secrets: []
# - name: app-creds
#   data:
#     API_KEY: 'asdfgh123456'
#     SMTP_PASSWORD: '123456asdfgh'
# - name: app-secret-key
#   data:
#     SECRET_KEY: ashdfsfa
# - name: app-keyfile
#   data:
#     keyfile.txt: |
#       using
#       multiline
#       strings

configs: []
# - name: app-config
#   data:
#     TEST_ENV: alive
# - name: app-otherenv
#   data:
#     SPECIAL_KEY: here
# - name: app-configfile
#   data:
#     test.ini: |
#       [test]
#       value=1

envFrom: []
# - secretRef:
#     name: app-creds
# - configMapRef:
#     name: app-config

env:
- name: TZ
  value: America/Chicago
# - name: SPECIAL_KEY
#   valueFrom:
#     configMapKeyRef:
#       name: app-otherenv
#       key: SPECIAL_KEY

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP

persistentVolumes:
- name: config
  mountPath: /etc/rtl_433/
  readOnly: true
  secret:
    secretName: config
    items:
    - key: service.conf
      path: service.conf
# - name: data
#   mountPath: /var/lib/postgresql/data
#   subPath: pg
#   size: 10Gi
#   persistentVolumeClaim:
#     name: data
#     storageClass: longhorn-nvme
# - name: config
#   mountPath: /config
#   configMap:
#     name: app-configfile
#     items:
#     - key: test.ini
#       path: config.ini


ingress:
  enabled: false

probes: {}

resources:
  limits:
    cpu: 10m
    memory: 20Mi
    squat.ai/rtl-sdr-433: 1
  requests:
    cpu: 3m
    memory: 10Mi

nodeSelector: {}

tolerations: []

affinity: {}

lifecycle: {}
  # postStart:
  #   exec:
  #     command:
  #       - /bin/sh
  #       - -c
  #       - cp /tmp/file /var/app/file
