# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: jacob.pub/ghcr.io/usa-reddragon/mesh-base
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "main@sha256:ecd2d6343483d01d522f5db304459adaa1f3212436662a22aeb15bebdcb5c43f"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

command:
- /bin/sh
- -c
- |
  set -x && \
  NODE_NAME=KI5VMF-DMRHUB && \
  sysctl -w net.ipv4.ip_forward=1 && \
  sysctl -w net.ipv6.conf.all.forwarding=1 && \
  ip link add dev br-wan type bridge && \
  ip link add dev br-dtdlink type bridge && \
  ip link set dev eth0 master br-wan && \
  ip link set br-wan up && \
  ip link set br-dtdlink up && \
  GW=$(ip route list 0/0 | awk '{ print $3 }') && \
  IP6_GW=$(ip -6 route list ::/0 | awk '{ print $3 }') && \
  IPV4_ADDRS=$(ip address show eth0 | grep 'inet ' | awk '{ print $2 }') && \
  for IPV4_ADDR in $IPV4_ADDRS; do \
      ip address del dev eth0 $IPV4_ADDR && \
      ip address add dev br-wan $IPV4_ADDR ; \
  done && \
  IPV6_ADDRS=$(ip address show eth0 | grep 'inet6 ' | awk '{ print $2 }') && \
  for IPV6_ADDR in $IPV6_ADDRS; do \
      if [[ $IPV6_ADDR == fe80:* ]]; then \
          continue ; \
      fi && \
      ip address del dev eth0 $IPV6_ADDR && \
      ip address add dev br-wan $IPV6_ADDR ; \
  done && \
  mkdir -p /etc/iproute2/ && \
  echo "20 babel_in" >> /etc/iproute2/rt_tables && \
  echo "21 babel_super" >> /etc/iproute2/rt_tables && \
  echo "22 wan_in" >> /etc/iproute2/rt_tables && \
  echo "27 local_wan" >> /etc/iproute2/rt_tables && \
  echo "28 wan_out" >> /etc/iproute2/rt_tables && \
  echo "29 local_lan" >> /etc/iproute2/rt_tables && \
  echo "99 blackhole" >> /etc/iproute2/rt_tables && \
  ip r add $GW dev br-wan scope link table 28 && \
  ip route add default via $GW dev br-wan table 28 && \
  ip -6 route add $IP6_GW dev br-wan table 28 && \
  ip -6 route del default via $IP6_GW dev eth0 && \
  ip -6 route add default via $IP6_GW dev br-wan table 28 && \
  WAN_NET=$(ip route show dev br-wan | grep "proto kernel" | awk '{print $1}') && \
  if [ -n "$WAN_NET" ]; then \
      ip route add $WAN_NET dev br-wan table 27 ; \
  fi && \
  ip route add blackhole 0.0.0.0/0 table 99 && \
  ip address add dev br-dtdlink $NODE_IP/8 && \
  ip rule add pref 10 iif br-dtdlink lookup 29 && \
  ip rule add pref 20 iif br-dtdlink lookup 20 && \
  ip rule add pref 30 iif br-dtdlink lookup 21 && \
  ip rule add pref 60 iif br-dtdlink lookup 22 && \
  ip rule add pref 70 iif br-dtdlink lookup 99 && \
  ip rule add pref 110 lookup 29 && \
  ip rule add pref 120 lookup 20 && \
  ip rule add pref 130 lookup 21 && \
  ip rule add pref 140 lookup 27 && \
  ip rule add pref 150 lookup 28 && \
  ip rule add pref 160 lookup 22 && \
  ip -6 addr add fe80::200:aff:fe36:1905/64 dev wgc1 && \
  mkdir -p /etc/meshlink && \
  echo "${NODE_IP} ${NODE_NAME}" >> /etc/meshlink/hosts && \
  echo "${NODE_IP} dtdlink.${NODE_NAME}.local.mesh" >> /etc/meshlink/hosts && \
  echo "http://KI5VMF-DMRHUB.local.mesh:80/|tcp|DMRHub WebUI" >> /etc/meshlink/services && \
  echo "udp://KI5VMF-DMRHUB.local.mesh:0/|tcp|DMR MMDVM Port 62031" >> /etc/meshlink/services && \
  echo "udp://KI5VMF-DMRHUB.local.mesh:0/|tcp|DMR IPSC Port 50000" >> /etc/meshlink/services && \
  echo "udp://KI5VMF-DMRHUB.local.mesh:0/|tcp|DMR OpenBridge Port 62035" >> /etc/meshlink/services && \
  rsyslogd -n & \
  cat /etc/resolv.conf > /tmp/resolv.conf.auto && \
  echo -e "search local.mesh\nnameserver 127.0.0.1" > /etc/resolv.conf && \
  rm -rf /etc/s6/vtund && \
  rm -rf /etc/s6/olsrd && \
  cp /etc/babel/babel.conf /tmp/babel-generated.conf && \
  sleep 10 && \
  exec s6-svscan /etc/s6

secrets: []
# - name: app-creds
#   data:
#     API_KEY: 'asdfgh123456'
#     SMTP_PASSWORD: '123456asdfgh'
# - name: app-secret-key
#   data:
#     SECRET_KEY: ashdfsfa
# - name: app-keyfile
#   data:
#     keyfile.txt: |
#       using
#       multiline
#       strings

configs:
- name: nginx-config
  data:
    nginx-config: |-
      events {
        worker_connections 1024;
      }
      stream {
        upstream mmdvm {
          server dmr-udp-input.dmrhub.svc.cluster.local:62031;
        }

        upstream openbridge {
          server dmr-udp-input.dmrhub.svc.cluster.local:62035;
        }

        upstream ipsc {
          server dmr-udp-input.dmrhub.svc.cluster.local:50000;
        }

        server {
          listen 62031 udp;
          proxy_pass mmdvm;
        }

        server {
          listen 62035 udp;
          proxy_pass openbridge;
        }

        server {
          listen 50000 udp;
          proxy_pass ipsc;
        }
      }
      http {
        upstream dmrhub {
          server dmrhub-app.dmrhub.svc.cluster.local:3005;
        }
        include mime.types;
        server {
          listen 80;
          server_name _;
          access_log /dev/stdout;
          error_log /dev/stderr;

          client_max_body_size 16M;

          location / {
            proxy_pass http://dmrhub;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Port $server_port;
          }

          location /ws {
            proxy_pass http://dmrhub;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Port $server_port;
            proxy_set_header Sec-WebSocket-Extensions $http_sec_websocket_extensions;
            proxy_set_header Sec-WebSocket-Key $http_sec_websocket_key;
            proxy_set_header Sec-WebSocket-Version $http_sec_websocket_version;
          }
        }
        server {
          listen 8080;
          server_name _;
          access_log /dev/stdout;
          error_log /dev/stderr;

          location / {
            return 301 http://$host$request_uri;
          }
        }
      }
- name: server-babel-config
  data:
    babel.conf: |
      router-id 02:44:c0:a6:cb:05
      smoothing-half-life 10
      protocol-buffer-size 65536
      interface br-dtdlink type wired
      interface br-dtdlink rxcost 96
      interface br-dtdlink enable-timestamps false
      interface br-dtdlink split-horizon true
      interface wgc1 type tunnel
      interface wgc1 rxcost 206
      interface wgc1 update-interval 120
      interface wgc1 hello-interval 10
      interface wgc1 split-horizon true
      interface wgc1 rtt-min 10
      interface wgc1 rtt-max 400
      interface wgc1 max-rtt-penalty 400
      redistribute anyproto if wgc1 deny
      redistribute anyproto ip 10.0.0.0/8 ge 24 allow
      redistribute anyproto ip 44.0.0.0/8 ge 24 allow
      redistribute anyproto ip 172.31.0.0/16 eq 32 deny
      redistribute deny
      install ip 10.0.0.0/8 eq 8 allow table 21
      install ip 44.0.0.0/8 le 23 allow table 21
      install ip 0.0.0.0/0 eq 0 allow table 22
      install ip 10.0.0.0/8 ge 24 allow table 20
      install ip 44.0.0.0/8 ge 24 allow table 20
      install ip 0.0.0.0/0 ge 0 deny

envFrom: []
# - secretRef:
#     name: app-creds
# - configMapRef:
#     name: app-config

env:
- name: NODE_IP
  value: 10.54.25.5

podSecurityContext:
  privileged: true
  capabilities:
    add:
    - NET_ADMIN

service:
  type: ClusterIP

persistentVolumes:
- name: server-babel-config
  mountPath: /etc/babel
  configMap:
    name: server-babel-config
- name: server-wireguard-config
  mountPath: /etc/wireguard/wg0.conf
  subPath: wg0.conf
  secret:
    secretName: dmrhub-wireguard-config
- name: nginx-config
  mountPath: /etc/nginx/nginx.conf
  configMap:
    name: nginx-config
#     items:
#     - key: test.ini
#       path: config.ini
# - name: keys
#   mountPath: /keys
#   readOnly: true
#   secret:
#     secretName: app-keyfile

extraContainers:
- name: nginx
  image: jacob.pub/docker.io/nginx:mainline-alpine@sha256:42a516af16b852e33b7682d5ef8acbd5d13fe08fecadc7ed98605ba5e3b26ab8
  imagePullPolicy: IfNotPresent
  ports:
    - containerPort: 80
      protocol: TCP
      name: http
  volumeMounts:
    - name: nginx-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx-config
      readOnly: true

ingress:
  enabled: false

probes: {}
  # liveness:
  #   httpGet:
  #     path: /health
  #     port: 81
  # readiness:
  #   httpGet:
  #     path: /health
  #     port: 81

resources:
  requests:
    cpu: 10m
    memory: 20Mi


initContainers:
- image: jacob.pub/ghcr.io/usa-reddragon/wireguard:main@sha256:1fca4f1fc917a46e1443dffc1201ed9f516e12fb29dba9471e74762834901cc6
  name: wireguard-init
  securityContext:
    privileged: true
    capabilities:
      add:
      - NET_ADMIN
  command:
  - /bin/sh
  - -c
  - |
    set -x && \
    sleep 10 && \
    ip l del wgc1 2>/dev/null || true && \
    wg-quick up /etc/wireguard/wgc1.conf && \
    ip6tables -P INPUT DROP && \
    ip6tables -P FORWARD DROP && \
    iptables -P INPUT DROP && \
    iptables -P FORWARD DROP && \
    iptables -A INPUT -i lo -j ACCEPT && \
    iptables -A INPUT -i wgc1 -j ACCEPT && \
    iptables -A INPUT -i eth0 -p udp --dport 51820 -j ACCEPT && \
    iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT && \
    ip6tables -A INPUT -i lo -j ACCEPT && \
    ip6tables -A INPUT -i wgc1 -j ACCEPT && \
    ip6tables -A INPUT -i eth0 -p udp --dport 51820 -j ACCEPT && \
    ip6tables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT && \
    iptables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT && \
    ip6tables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT && \
    iptables -t nat -A POSTROUTING -o wg+ ! -d 255.255.255.255 -j SNAT --to-source 10.54.25.4 && \
    iptables -t nat -A POSTROUTING ! -d 10.0.0.0/8 -o wgc1 -j MASQUERADE
  volumeMounts:
  - mountPath: /etc/wireguard
    name: server-wireguard-config
  imagePullPolicy: IfNotPresent

nodeSelector: {}

tolerations: []

affinity: {}

lifecycle: {}
  # postStart:
  #   exec:
  #     command:
  #       - /bin/sh
  #       - -c
  #       - cp /tmp/file /var/app/file
