# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  jellyfin:
    replicas: 1
    pod:
      nodeSelector:
        nvidia.com/gpu.product: NVIDIA-GeForce-RTX-2070
      runtimeClassName: nvidia
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    containers:
      jellyfin:
        image:
          repository: jacob.pub/docker.io/jellyfin/jellyfin
          tag: 10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: '2'
            memory: 10Gi
          limits:
            cpu: '4'
            memory: 15Gi
            nvidia.com/gpu: 1
        probes:
          liveness:
            enabled: true
            spec:
              initialDelaySeconds: 20
          readiness:
            enabled: true
            spec:
              initialDelaySeconds: 20
          startup:
            enabled: true
            spec:
              initialDelaySeconds: 20
        env:
          - name: JELLYFIN_PublishedServerUrl
            value: https://jellyfin.mcswain.dev
          - name: JELLYFIN_FFmpeg__probesize
            value: 20M
          - name: NVIDIA_VISIBLE_DEVICES
            value: all
          - name: NVIDIA_DRIVER_CAPABILITIES
            value: all
          - name: JELLYFIN_LOG_DIR
            value: "/log"
        securityContext:
          fsGroup: 568
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  jellyfin:
    controller: jellyfin
    ports:
      http:
        port: 8096

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 60Gi
    storageClass: longhorn-ssd
  cache:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 15Gi
    storageClass: longhorn-ssd
  cache-transcodes:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 10Gi
    globalMounts:
      - path: /cache/transcodes
  log:
    enabled: true
    type: emptyDir
    sizeLimit: 10Gi
  jellyfin-tmp:
    enabled: true
    type: emptyDir
    sizeLimit: 30Gi
    globalMounts:
      - path: /tmp/jellyfin
  media:
    enabled: true
    existingClaim: media

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: jellyfin
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: jellyfin
              port: http
    tls:
      - hosts:
          - jellyfin

route:
  jellyfin:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - jellyfin.mcswain.dev
    rules:
      - backendRefs:
          - name: jellyfin
            port: 8096
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 24h
          backendRequest: 23h

serviceMonitor:
  jellyfin:
    enabled: true
    serviceName: jellyfin
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s
