# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  browserless:
    replicas: 1
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    containers:
      browserless:
        image:
            repository: jacob.pub/docker.io/browserless/chrome
            tag: latest@sha256:57d19e414d9fe4ae9d2ab12ba768c97f38d51246c5b31af55a009205c136012f
            pullPolicy: IfNotPresent
        env:
        - name: DEFAULT_LAUNCH_ARGS
          value: "[\"--window-size=1920,1080\"]"
        - name: SCREEN_WIDTH
          value: "1920"
        - name: SCREEN_HEIGHT
          value: "1080"
        - name: MAX_CONCURRENT_SESSIONS
          value: "2"
        - name: PREBOOT_CHROME
          value: "true"
        resources:
          limits:
            memory: 1500Mi
          requests:
            cpu: 200m
            memory: 500Mi
  changedetection:
    replicas: 1
    containers:
      changedetection:
        image:
          repository: jacob.pub/docker.io/dgtlmoon/changedetection.io
          tag: 0.50.15@sha256:a53eeb07bfd161ed2939cd02624650bcd11d35d5e86b8cdd037ac10adda3afa5
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: BASE_URL
            value: "https://changedetection.jackal-stargazer.ts.net"
          - name: PLAYWRIGHT_DRIVER_URL
            value: "ws://changedetection-browserless:3000/?stealth=1&--disable-web-security=true"
          - name: USE_X_SETTINGS
            value: "true"

service:
  changedetection:
    controller: changedetection
    ports:
      http:
        port: 5000
  browserless:
    controller: browserless
    ports:
      http:
        port: 3000

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 20Gi
    storageClass: longhorn-ssd
    advancedMounts:
      changedetection:
        changedetection:
          - path: /data

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: changedetection
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: changedetection
              port: http
    tls:
      - hosts:
          - changedetection
