apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: monitoring
spec:
  interval: 1m0s
  driftDetection:
    mode: enabled
  releaseName: prometheus-stack
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: '>=58.3.2 <59.0.0'
      interval: 1m0s
  valuesFrom:
    - kind: ConfigMap
      name: chart-values
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
---