apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mattermost
resources:
  - helm.yaml
  - postgres.yaml
  - route.yaml
  - push-proxy-helm.yaml
configMapGenerator:
  - name: chart-values
    files:
      - values.yaml=values.yaml
  - name: push-proxy-chart-values
    files:
      - values.yaml=push-proxy-values.yaml
configurations:
  - kustomizeconfig.yaml
