# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  dmrhub:
    replicas: 2
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    pod:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      labels:
        valkey-client: "true"
    containers:
      dmrhub:
        image:
          repository: ghcr.io/usa-reddragon/dmrhub
          tag: test@sha256:461b19d78d9cd4f6a5cb51f114b130d57531f79d3e6d0d64ea005c4295a18dee
          pullPolicy: IfNotPresent
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            memory: 1000Mi
          requests:
            cpu: 250m
            memory: 600Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        envFrom:
          - secretRef:
              name: secrets
        env:
          - name: HTTP_CORS_ENABLED
            value: "true"
          - name: HTTP_CORS_EXTRA_HOSTS
            value: "http://10.54.25.5,http://ki5vmf-dmrhub.local.mesh,https://dmr.mcswain.dev,https://dmrhub.app,https://dmrhub.cloud,https://dmrhub.net,https://dmrhub.org,https://dmrhub.network,https://www.dmrhub.app,https://www.dmrhub.cloud,https://www.dmrhub.net,https://www.dmrhub.org,https://www.dmrhub.network,http://localhost:5173"
          - name: DATABASE_DRIVER
            value: "postgres"
          - name: DATABASE_DATABASE
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: dbname
          - name: HTTP_TRUSTED_PROXIES
            value: "172.17.0.0/16"
          - name: DATABASE_HOST
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: host
          - name: DATABASE_EXTRA_PARAMETERS
            value: "[]"
          - name: DATABASE_PORT
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: port
          - name: REDIS_ENABLED
            value: "true"
          - name: REDIS_HOST
            value: valkey
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: valkey
                key: valkey-password
          - name: NETWORK_NAME
            value: "Official DMRHub"
          - name: HTTP_ROBOTS_TXT_MODE
            value: "allow"
          # - name: METRICS_OTLP_ENDPOINT
          #   value: signoz-k8s-infra-otel-agent.signoz.svc.cluster.local:4317
          - name: DMR_OPENBRIDGE_PORT
            value: "62035"
          - name: DMR_IPSC_ENABLED
            value: "true"
          - name: DMR_IPSC_NETWORK_ID
            value: "1"
          - name: METRICS_ENABLED
            value: "true"
          - name: METRICS_PORT
            value: "9001"
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: password
          - name: DATABASE_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: username
          - name: SMTP_ENABLED
            value: "true"
          - name: SMTP_HOST
            value: email.mcswain.dev
          - name: SMTP_PORT
            value: "465"
          - name: SMTP_USERNAME
            value: dmrhub
          - name: SMTP_FROM
            value: dmrhub@mcswain.dev
          - name: SMTP_TLS
            value: "implicit"
          - name: SMTP_AUTH_METHOD
            value: "plain"
          - name: HTTP_CANONICAL_HOST
            value: https://dmrhub.net

service:
  dmrhub:
    controller: dmrhub
    ports:
      http:
        port: 3005
        primary: true
      metrics:
        port: 9001
      hbrp:
        port: 62031
        protocol: UDP
      ipsc:
        port: 50000
        protocol: UDP
      openbridge:
        port: 62035
        protocol: UDP

route:
  dmrhub:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - dmrhub.net
    rules:
      - backendRefs:
          - name: dmrhub
            port: 3005
        matches:
          - path:
              type: PathPrefix
              value: /
  dmrhub-redirects:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - dmr.mcswain.dev
      - dmrhub.app
      - dmrhub.cloud
      - dmrhub.network
      - dmrhub.org
      - www.dmrhub.app
      - www.dmrhub.cloud
      - www.dmrhub.net
      - www.dmrhub.network
      - www.dmrhub.org
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: RequestRedirect
            requestRedirect:
              scheme: https
              hostname: dmrhub.net
              statusCode: 301
  hbrp:
    enabled: true
    kind: UDPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: dmrhub-hbrp
    rules:
      - backendRefs:
          - name: dmrhub
            port: 62031
  ipsc:
    enabled: true
    kind: UDPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: dmrhub-ipsc
    rules:
      - backendRefs:
          - name: dmrhub
            port: 50000
  openbridge:
    enabled: true
    kind: UDPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: dmrhub-openbridge
    rules:
      - backendRefs:
          - name: dmrhub
            port: 62035

serviceMonitor:
  dmrhub:
    enabled: true
    serviceName: dmrhub
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s
