# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  cyberchef:
    replicas: 1
    containers:
      cyberchef:
        image:
          repository: jacob.pub/docker.io/mpepping/cyberchef
          tag: v10.22.0@sha256:9062493810478b7cf4555aaa573aa52ee7417ee28009e204603bcbd45becb587
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 30Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

service:
  cyberchef:
    controller: cyberchef
    ports:
      http:
        port: 8000

route:
  cyberchef:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - cyberchef.mcswain.dev
    rules:
      - backendRefs:
          - name: cyberchef
            port: 8000
        matches:
          - path:
              type: PathPrefix
              value: /
