# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  piaware:
    replicas: 1
    pod:
      labels:
        policy.mcswain.dev/egress-coredns: "true"
        policy.mcswain.dev/ingress-nginx: "true"
    containers:
      piaware:
        image:
          repository: jacob.pub/ghcr.io/sdr-enthusiasts/docker-piaware
          tag: latest-build-628
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          TZ: America/Chicago
          RECEIVER_TYPE: "relay"
          BEASTHOST: ultrafeeder.ultrafeeder.svc.cluster.local
          BEASTPORT: "30005"
          UAT_RECEIVER_TYPE: "relay"
          UAT_RECEIVER_HOST: dump978.dump978.svc.cluster.local
          UAT_RECEIVER_PORT: "30978"
          FEEDER_ID:
            valueFrom:
              secretKeyRef:
                name: feeder
                key: FEEDER_ID
        resources:
          limits:
            memory: 130Mi
          requests:
            cpu: 100m
            memory: 90Mi

service:
  piaware:
    controller: piaware
    ports:
      http:
        port: 80
        primary: true
      mlat:
        port: 30105

route:
  piaware:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - flights.mcswain.dev
    rules:
      - backendRefs:
          - name: piaware
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
