# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  symmetricds:
    replicas: 1

    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch

    containers:
      symmetricds:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/symmetricds
          tag: "v3.16.9@sha256:0530cb24e0baa67813d6bf04a3610bc753554b65491fc2d4afcc2c00a076c6e6"
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            memory: 1Gi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        env:
          - name: POSTGRES_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgresql-symmetricds
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql-symmetricds
                key: password

service:
  symmetricds:
    controller: symmetricds
    ports:
      http:
        port: 31415

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: symmetricds-home
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: symmetricds
              port: http
    tls:
      - hosts:
          - symmetricds-home

persistence:
  logs:
    enabled: true
    type: emptyDir
    sizeLimit: 3Gi
    globalMounts:
      - path: /opt/symmetric-ds/logs
  tmp:
    enabled: true
    type: emptyDir
    sizeLimit: 3Gi
    globalMounts:
      - path: /opt/symmetric-ds/tmp
  engines:
    enabled: true
    type: configMap
    identifier: engines
    globalMounts:
      - path: /opt/symmetric-ds/engines

configMaps:
  engines:
    suffix: engines
    data:
      home.properties: |
        engine.name=home
        db.driver=org.postgresql.Driver
        db.url=jdbc:postgresql://postgresql-rw:5432/schedulerdb
        db.user=$(POSTGRES_USERNAME)
        db.password=$(POSTGRES_PASSWORD)
        group.id=home
        external.id=home
        sync.url=https://symmetricds-home.jackal-stargazer.ts.net/sync/home
        registration.url=
        auto.registration=true
        initial.load.create.first=true
        job.routing.period.time.ms=5000
        job.push.period.time.ms=10000
        job.pull.period.time.ms=10000
        job.purge.period.time.ms=7200000
