# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  symmetricds:
    replicas: 1

    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch

    containers:
      symmetricds:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/symmetricds
          tag: "3.16.7@sha256:b8164119ee4f26254e9df936d27abedbb815e487ac6997e86b6b5e74da3b3864"
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]

persistence:
  logs:
    enabled: true
    type: emptyDir
    sizeLimit: 3Gi
    globalMounts:
      - path: /opt/symmetric-ds/logs
  tmp:
    enabled: true
    type: emptyDir
    sizeLimit: 3Gi
    globalMounts:
      - path: /opt/symmetric-ds/tmp
