# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

x-ephemeris-envs: &ephemeris-envs
  TIME_ZONE: America/Chicago
  TZ: America/Chicago
  DOC_PAGE_DIMENSIONS: 480x800
  DOC_PAGE_DPI: '125'
  DOC_COVER_ENABLED: false
  TIME_DISPLAY_START: '8'
  DOC_MINICAL_MODE: current
  DOC_ALLDAY_BOUNDARY: margin
  DOC_EVENT_FILL_COLOR: "#ffffff"
  TIME_DISPLAY_END: '18'
  APP_OUTPUT_FORMAT: png
  APP_META_FILE_PATH: /tmp/feeds_meta.yaml
  TIME_FORMAT: '12'
  DOC_FOOTER_TEXT: updatedat
  DOC_FOOTER_COLOR: black
  DOC_EVENT_BORDER_COLOR: black
  DOC_GRID_LINE_COLOR: black
  DOC_MONOCHROME: 'true'

x-security-context: &security-context
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65535
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

controllers:
  ephemeris-day:
    type: cronjob
    cronjob:
      schedule: "*/5 0-17 * * 0-5" # S-F 12am-5:55pm
      timeZone: America/Chicago
      concurrencyPolicy: Forbid
    pod:
      securityContext:
        fsGroup: 65535
    initContainers:
      ephemeris:
        image:
          repository: jacob.pub/ghcr.io/rmitchellscott/ephemeris
          tag: v1.7.1@sha256:b8540bf8755b861ed83b2d8defbbea44f86213fdb92ad17ab4ae31006fcf3037
          pullPolicy: IfNotPresent
        env:
          <<: *ephemeris-envs
        securityContext:
          <<: *security-context
    containers:
      process-and-upload:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/magick-s3
          tag: 7.1.1.41@sha256:b29e651570230f8bbfd6060f654d147cc60ef4738018615d63417fa50c7f45c5
          pullPolicy: IfNotPresent
        securityContext:
          <<: *security-context
        env:
          TZ: America/Chicago
        envFrom:
          - secretRef:
              name: ephemeris-s3
        command:
          - /bin/sh
          - -c
          - |
            set -euo pipefail
            magick /app/output/png/ephemeris_$(date +%F).png -colors 2 -depth 1 -strip pbm:- | ppmtobmp -bpp 1 > /tmp/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /tmp/ephemeris.bmp s3://ephemeris/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /app/output/png/ephemeris_$(date +%F).png s3://ephemeris/
  ephemeris-saturday:
    type: cronjob
    cronjob:
      schedule: "*/5 * * * 6" # All day Saturday
      timeZone: America/Chicago
      concurrencyPolicy: Forbid
    pod:
      securityContext:
        fsGroup: 65535
    initContainers:
      ephemeris:
        image:
          repository: jacob.pub/ghcr.io/rmitchellscott/ephemeris
          tag: v1.7.1@sha256:b8540bf8755b861ed83b2d8defbbea44f86213fdb92ad17ab4ae31006fcf3037
          pullPolicy: IfNotPresent
        env:
          <<: *ephemeris-envs
        securityContext:
          <<: *security-context
    containers:
      process-and-upload:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/magick-s3
          tag: 7.1.1.41@sha256:b29e651570230f8bbfd6060f654d147cc60ef4738018615d63417fa50c7f45c5
          pullPolicy: IfNotPresent
        securityContext:
          <<: *security-context
        env:
          TZ: America/Chicago
        envFrom:
          - secretRef:
              name: ephemeris-s3
        command:
          - /bin/sh
          - -c
          - |
            set -euo pipefail
            magick /app/output/png/ephemeris_$(date +%F).png -colors 2 -depth 1 -strip pbm:- | ppmtobmp -bpp 1 > /tmp/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /tmp/ephemeris.bmp s3://ephemeris/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /app/output/png/ephemeris_$(date +%F).png s3://ephemeris/
  ephemeris-night:
    type: cronjob
    cronjob:
      schedule: "*/5 18-23 * * 0-5" # S-F 6pm-12am
      timeZone: America/Chicago
      concurrencyPolicy: Forbid
    pod:
      securityContext:
        fsGroup: 65535
    initContainers:
      ephemeris:
        image:
          repository: jacob.pub/ghcr.io/rmitchellscott/ephemeris
          tag: v1.7.1@sha256:b8540bf8755b861ed83b2d8defbbea44f86213fdb92ad17ab4ae31006fcf3037
          pullPolicy: IfNotPresent
        env:
          <<: *ephemeris-envs
          TIME_DATE_RANGE: 'tomorrow'
        securityContext:
          <<: *security-context
    containers:
      process-and-upload:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/magick-s3
          tag: 7.1.1.41@sha256:b29e651570230f8bbfd6060f654d147cc60ef4738018615d63417fa50c7f45c5
          pullPolicy: IfNotPresent
        securityContext:
          <<: *security-context
        env:
          TZ: America/Chicago
        envFrom:
          - secretRef:
              name: ephemeris-s3
        command:
          - /bin/sh
          - -c
          - |
            set -euo pipefail
            magick /app/output/png/ephemeris_$(date -d "+1 day" +%F).png -colors 2 -depth 1 -strip pbm:- | ppmtobmp -bpp 1 > /tmp/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /tmp/ephemeris.bmp s3://ephemeris/ephemeris.bmp
            aws s3 --endpoint-url https://s3.mcswain.dev cp /app/output/png/ephemeris_$(date -d "+1 day" +%F).png s3://ephemeris/

persistence:
  output:
    enabled: true
    type: emptyDir
    sizeLimit: 1Gi
    globalMounts:
      - path: /app/output
  tmp:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    globalMounts:
      - path: /tmp
  config:
    enabled: true
    type: secret
    name: ephemeris-config
    items:
      - key: config.yaml
        path: config.yaml
    globalMounts:
      - path: /app/config.yaml
        subPath: config.yaml
