# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  mosquitto:
    strategy: Recreate
    replicas: 1
    pod:
      priorityClassName: system-cluster-critical
      securityContext:
        fsGroup: 1883
    containers:
      mosquitto:
        image:
          repository: jacob.pub/docker.io/eclipse-mosquitto
          tag: 2.0.22@sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
          pullPolicy: IfNotPresent
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          runAsUser: 1883
          runAsGroup: 1883
          capabilities:
            drop:
              - ALL
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

service:
  mosquitto:
    controller: mosquitto
    type: LoadBalancer
    loadBalancerClass: metallb
    externalTrafficPolicy: Local
    ipFamilyPolicy: PreferDualStack
    ipFamilies:
      - IPv4
      - IPv6
    annotations:
      metallb.io/loadBalancerIPs: 192.168.254.11,fdeb:abba:237c:dead:0001::11
      tailscale.com/expose: "true"
      tailscale.com/hostname: "mqtt"
      tailscale.com/tags: "tag:mqtt,tag:k8s"
    labels:
      tailscale.com/proxy-class: "tailscale"
    ports:
      mqtt:
        port: 1883
        primary: true
      mqtts:
        port: 8883

configMaps:
  config:
    data:
      mosquitto.conf: |
        per_listener_settings false
        listener 1883
        allow_anonymous false
        persistence true
        persistence_location /mosquitto/data
        autosave_interval 1800
        log_dest stderr
        log_type error
        log_type warning
        log_type notice

        password_file /mosquitto/config/passwd
        acl_file /mosquitto/config/acl

        # listener 8883
        # cafile /tls/ca/tls-1.crt
        # certfile /tls/ca/tls-0.crt
        # keyfile /tls/tls.key

persistence:
  config:
    enabled: true
    type: configMap
    name: mosquitto
    advancedMounts:
      mosquitto:
        mosquitto:
        - path: /mosquitto/config/mosquitto.conf
          subPath: mosquitto.conf
  data:
    enabled: true
    storageClass: longhorn-nvme
    accessMode: ReadWriteOnce
    size: 1Gi
    advancedMounts:
      mosquitto:
        mosquitto:
        - path: /mosquitto/data
  auth:
    enabled: true
    type: secret
    name: mosquitto-auth
    defaultMode: 0440
    advancedMounts:
      mosquitto:
        mosquitto:
          - path: /mosquitto/config/passwd
            subPath: passwd
          - path: /mosquitto/config/acl
            subPath: acl
