controllers:
  tailscale:
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    containers:
      app:
        image:
          repository: jacob.pub/ghcr.io/tailscale/tailscale
          tag: v1.92.5@sha256:4a0aaacee6f28e724c1f80c986e5776c9c979d8f7e19274c2cae2d495cc8d625
        env:
          TS_HOSTNAME: home-peer-relay
          TS_KUBE_SECRET: tailscale-state
          TS_USERSPACE: "true"
        envFrom:
          - secretRef:
              name: tailscale-env
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]

persistence:
  run:
    enabled: true
    type: emptyDir
    sizeLimit: 1Gi
    medium: Memory
    globalMounts:
      - path: /var/run/tailscale
  tmp:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi

serviceAccount:
  tailscale-peer-relay:
    enabled: true

rbac:
  roles:
    tailscale:
      enabled: true
      type: Role
      rules:
        - apiGroups: [""]
          resources:
            - secrets
          # Create can not be restricted to a resource name.
          verbs:
            - create
        - apiGroups: [""]
          resources:
            - secrets
          verbs:
            - get
            - update
            - patch
          resourceNames:
            - tailscale-state
  bindings:
    tailscale:
      enabled: true
      type: RoleBinding
      roleRef:
        identifier: tailscale
      subjects:
        - identifier: tailscale-peer-relay

service:
  tailscale:
    controller: tailscale
    ports:
      relay:
        port: 40000
        protocol: UDP

route:
  tailscale:
    enabled: true
    kind: UDPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: tailscale-peer-relay
    rules:
      - backendRefs:
          - name: tailscale
            port: 40000
