# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  gitea:
    replicas: 1
    containers:
      gitea:
        image:
          repository: jacob.pub/docker.io/gitea/gitea
          tag: 1.25.3@sha256:fee0e5e55da6d2d11186bf39023a772fe63d9deffc0a83283e3d8e5d11c2716a
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 4Gi
          requests:
            memory: 3Gi
            cpu: 2
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: GITEA__GIT_0x2E_TIMEOUT__MIGRATE
            value: "1200"
          - name: GITEA__GIT_0x2E_TIMEOUT__MIRROR
            value: "1200"
          - name: GITEA__GIT_0x2E_TIMEOUT__PULL
            value: "1200"
          - name: GITEA__GIT_0x2E_TIMEOUT__CLONE
            value: "1200"
          - name: GITEA__GIT_0x2E_TIMEOUT__DEFAULT
            value: "1200"
          - name: GITEA__GIT_0x2E_TIMEOUT__GC
            value: "1200"
          - name: GITEA__METRICS__ENABLED
            value: "true"
          - name: GITEA__METRICS__ENABLED_ISSUE_BY_LABEL
            value: "true"
          - name: GITEA__METRICS__ENABLED_ISSUE_BY_REPOSITORY
            value: "true"
          - name: GITEA__SERVICE__REQUIRE_SIGNIN_VIEW
            value: "false"
          - name: GITEA__SERVICE__DISABLE_REGISTRATION
            value: "true"
          - name: GITEA__OTHER__SHOW_FOOTER_TEMPLATE_LOAD_TIME
            value: "false"
          - name: GITEA__INDEXER__REPO_INDEXER_ENABLED
            value: "true"
          - name: GITEA__SERVER__DOMAIN
            value: git.mcswain.dev
          - name: GITEA__SERVER__ROOT_URL
            value: https://git.mcswain.dev
          - name: GITEA__SERVER__SSH_DOMAIN
            value: git.mcswain.dev
          - name: GITEA__MIGRATIONS__ALLOWED_DOMAINS
            value: "github.com,*.github.com,gitlab.com,*.gitlab.com,bitbucket.org,*.bitbucket.org"
          - name: GITEA__DATABASE__DB_TYPE
            value: postgres
          - name: GITEA__DATABASE__HOST
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: host
          - name: GITEA__DATABASE__NAME
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: dbname
          - name: GITEA__DATABASE__USER
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: username
          - name: GITEA__DATABASE__PASSWD
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: password
          - name: GITEA__OPENID__ENABLE_OPENID_SIGNIN
            value: "false"

service:
  gitea:
    controller: gitea
    ports:
      http:
        port: 3000
      ssh:
        port: 22

persistence:
  data:
    enabled: true
    type: nfs
    path: /mnt/data/git
    server: 192.168.1.135

route:
  gitea:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - git.mcswain.dev
    rules:
      - backendRefs:
          - name: gitea
            port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 24h
          backendRequest: 23h
  git:
    enabled: true
    kind: TCPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: git-ssh
    rules:
      - backendRefs:
          - name: gitea
            port: 22
