# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  capture:
    replicas: 1
    containers:
      capture:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/capture.indi.allsky
          tag: sha-d8f194c
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 150m
            memory: 3Gi
        env:
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: INDIALLSKY_MARIADB_HOST
            value: mariadb
          - name: INDIALLSKY_MARIADB_PORT
            value: "3306"
          - name: MARIADB_DATABASE
            value: indi_allsky
          - name: MARIADB_USER
            value: indi_allsky
          - name: MARIADB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mariadb
                key: mariadb-password
          - name: INDIALLSKY_MARIADB_CHARSET
            value: utf8mb4
          - name: INDIALLSKY_MARIADB_COLLATION
            value: utf8mb4_unicode_ci
          - name: TZ
            value: America/Chicago
          - name: INDIALLSKY_FLASK_AUTH_ALL_VIEWS
            value: "false"
          - name: INDIALLSKY_FLASK_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: indi-allsky
                key: flask-secret-key
          - name: INDIALLSKY_FLASK_PASSWORD_KEY
            valueFrom:
              secretKeyRef:
                name: indi-allsky
                key: flask-password-key
          - name: INDIALLSKY_CAPTURE_NO_WAIT
            value: "true"
          - name: INDIALLSKY_IMAGE_FOLDER
            value: /home/allsky/indi-allsky/html/images
          ## Dark calibration frames
          # - name: INDIALLSKY_DARK_CAPTURE_ENABLE
          #   value: 'true'
          # - name: INDIALLSKY_DARK_CAPTURE_BITMAX
          #   value: '12'
          # - name: INDIALLSKY_DARK_CAPTURE_MODE
          #   value: tempsigmaclip
          # - name: INDIALLSKY_DARK_CAPTURE_DAYTIME
          #   value: '--daytime'

  gunicorn:
    replicas: 1
    pod:
      labels:
        mariadb-client: "true"
    containers:
      gunicorn:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/gunicorn.indi.allsky
          tag: sha-d8f194c
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 20m
            memory: 256Mi
          limits:
            memory: 512Mi
        probes:
          liveness:
            enabled: true
            spec:
              initialDelaySeconds: 60
          readiness:
            enabled: true
            spec:
              initialDelaySeconds: 60
          startup:
            enabled: true
            spec:
              initialDelaySeconds: 60
        env:
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: GUNICORN_ERROR_LOG_HANDLER
            value: wsgi
          - name: INDIALLSKY_MARIADB_HOST
            value: mariadb
          - name: INDIALLSKY_MARIADB_PORT
            value: "3306"
          - name: MARIADB_DATABASE
            value: indi_allsky
          - name: MARIADB_USER
            value: root
          - name: MARIADB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mariadb
                key: mariadb-root-password
          - name: INDIALLSKY_MARIADB_CHARSET
            value: utf8mb4
          - name: INDIALLSKY_MARIADB_COLLATION
            value: utf8mb4_unicode_ci
          - name: TZ
            value: America/Chicago
          - name: INDIALLSKY_FLASK_AUTH_ALL_VIEWS
            value: "false"
          - name: INDIALLSKY_FLASK_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: indi-allsky
                key: flask-secret-key
          - name: INDIALLSKY_FLASK_PASSWORD_KEY
            valueFrom:
              secretKeyRef:
                name: indi-allsky
                key: flask-password-key
          - name: INDIALLSKY_GUNICORN_NO_WAIT
            value: "true"
          - name: INDIALLSKY_IMAGE_FOLDER
            value: /home/allsky/indi-allsky/html/images
          - name: INDIALLSKY_WEB_USER
            value: admin
          - name: INDIALLSKY_WEB_PASS
            valueFrom:
              secretKeyRef:
                name: indi-allsky
                key: web-password
          - name: INDIALLSKY_WEB_NAME
            value: "AllSky Camera"
          - name: INDIALLSKY_WEB_EMAIL
            value: none@example.com

service:
  capture:
    controller: capture
    enabled: false
  gunicorn:
    controller: gunicorn
    ports:
      http:
        port: 8000

persistence:
  images:
    enabled: true
    type: nfs
    path: /mnt/data/astrocam
    server: 192.168.1.135
    advancedMounts:
      capture:
        capture:
          - path: /home/allsky/indi-allsky/html/images
      gunicorn:
        gunicorn:
          - path: /home/allsky/indi-allsky/html/images

route:
  allsky:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - allsky.mcswain.dev
    rules:
      - backendRefs:
          - name: gunicorn
            port: 8000
        matches:
          - path:
              type: PathPrefix
              value: /indi-allsky
        timeouts:
          request: 1d
          backendRequest: 1d
  allsky-redirects:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - allsky.mcswain.dev
    rules:
      - matches:
          - path:
              type: Exact
              value: /allsky
        filters:
          - type: RequestRedirect
            requestRedirect:
              scheme: https
              hostname: allsky.mcswain.dev
              statusCode: 301
              path:
                type: ReplaceFullPath
                replaceFullPath: /indi-allsky
      - matches:
          - path:
              type: Exact
              value: /allsky/
        filters:
          - type: RequestRedirect
            requestRedirect:
              scheme: https
              hostname: allsky.mcswain.dev
              statusCode: 301
              path:
                type: ReplaceFullPath
                replaceFullPath: /indi-allsky
      - matches:
          - path:
              type: Exact
              value: /
        filters:
          - type: RequestRedirect
            requestRedirect:
              scheme: https
              hostname: allsky.mcswain.dev
              statusCode: 301
              path:
                type: ReplaceFullPath
                replaceFullPath: /indi-allsky
