controllers:
  mariadb:
    containers:
      mariadb:
        image:
          repository: jacob.pub/docker.io/mariadb
          tag: 12.2.2@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
        env:
          MARIADB_DATABASE: indi_allsky
          MARIADB_USER: indi_allsky
        resources:
          requests:
            memory: 256Mi
            cpu: 40m
          limits: {}

persistence:
  data:
    storageClass: longhorn-nvme
    accessMode: ReadWriteOnce
    size: 8Gi
