controllers:
  mariadb:
    containers:
      mariadb:
        image:
          repository: jacob.pub/docker.io/mariadb
          tag: 12.0.2@sha256:607835cd628b78e2876f6a586d0ec37b296c47683b31ef750002d3d17d3d8f7a
        env:
          MARIADB_DATABASE: indi_allsky
          MARIADB_USER: indi_allsky
        resources:
          requests:
            memory: 256Mi
            cpu: 40m
          limits: {}

persistence:
  data:
    storageClass: longhorn-nvme
    accessMode: ReadWriteOnce
    size: 8Gi
