apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 1h
  targetNamespace: monitoring
  path: ./infrastructure/prometheus/app
  dependsOn:
    - name: longhorn-config
      namespace: longhorn-system
    - name: reflector-creds
      namespace: reflector
    - name: cert-manager-certs
      namespace: cert-manager
  prune: true
  sourceRef:
    kind: GitRepository
    namespace: flux-system
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: Secret
        name: alertmanager-telegram-bot-token
