# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  wheresmyscope:
    replicas: 3
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65535
        fsGroup: 65535
    containers:
      wheresmyscope:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/wheresmyscope
          tag: v1.0.1@sha256:3c44f72725ffd4ee3d3fd7b221ed8247cbdf8e2466e4b9adbc23a091d1c0db9f
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 5m
            memory: 15Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: MQTT_PREFIX
            value: observatory/mercury/target
          - name: MQTT_BROKER
            value: mqtt://192.168.254.11:1883
          - name: MQTT_USERNAME
            value: wheresmyscope
          - name: IMAGE_HEIGHT
            value: "480"
          - name: IMAGE_WIDTH
            value: "800"
        envFrom:
          - secretRef:
              name: wheresmyscope
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

service:
  wheresmyscope:
    controller: wheresmyscope
    ports:
      http:
        port: 8080

route:
  wheresmyscope:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - wheresmyscope.mcswain.dev
    rules:
      - backendRefs:
          - name: wheresmyscope
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /

networkpolicies:
  wheresmyscope:
    enabled: true
    controller: wheresmyscope
    policyTypes: [Ingress, Egress]
    rules:
      ingress:
        - from:
          - namespaceSelector: {}
      egress:
        - to:
          - namespaceSelector: {}
        - to:
          - ipBlock:
              cidr: 192.168.254.11/32
            port: 1883
        - to:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: kube-system
            podSelector:
              matchLabels:
                k8s-app: kube-dns
