loadBalancerClass: "metallb"

prometheus:
  podMonitor:
    enabled: true

  prometheusRule:
    enabled: true

  rbacPrometheus: false

controller:
  image:
    repository: quay.io/metallb/controller
    tag: v0.15.3
  resources: {}

speaker:
  image:
    repository: quay.io/metallb/speaker
    tag: v0.15.3
  resources: {}
  updateStrategy:
    type: OnDelete
  frr:
    enabled: false
    image:
      repository: quay.io/frrouting/frr
      tag: 10.5.1@sha256:848482643a8d6f56452b659ea68f6138472bb57414a4f295a7c4107a0416269c
    metricsPort: 7473
    resources: {}

  reloader:
    resources: {}

  frrMetrics:
    resources: {}

  extraContainers: []

crds:
  enabled: true
  validationFailurePolicy: Fail
