# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  frigate:
    replicas: 1

    pod:
      priorityClassName: system-cluster-critical
      nodeSelector:
        google.feature.node.kubernetes.io/coral: "true"

    initContainers:
      config-copy:
        image:
          repository: busybox
          tag: 1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
          pullPolicy: IfNotPresent
        command: ["sh", "-c", "cp /configmap/config.yml /config/config.yml"]

    containers:
      frigate:
        securityContext:
          privileged: true
        image:
          repository: jacob.pub/ghcr.io/blakeblackshear/frigate
          tag: "0.16.4@sha256:1f8dbaaa4c7c2855c2aef711842d13b0c20bfdc3f28ad88faf66aa1bc219b108"
        env:
          - name: FRIGATE_MQTT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: frigate
                key: mqtt-password
          - name: FRIGATE_DOORBELL_USERNAME
            valueFrom:
              secretKeyRef:
                name: frigate
                key: doorbell-username
          - name: FRIGATE_DOORBELL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: frigate
                key: doorbell-password
          - name: FRIGATE_DOORBELL_PASSWORD_URLENCODED
            valueFrom:
              secretKeyRef:
                name: frigate
                key: doorbell-password-urlencoded
          - name: FRIGATE_DOORBELL_ADDRESS
            valueFrom:
              secretKeyRef:
                name: frigate
                key: doorbell-address
          - name: FRIGATE_AMCREST_USERNAME
            valueFrom:
              secretKeyRef:
                name: frigate
                key: amcrest-username
          - name: FRIGATE_AMCREST_PASSWORD
            valueFrom:
              secretKeyRef:
                name: frigate
                key: amcrest-password
          - name: FRIGATE_BACK_PORCH_ADDRESS
            valueFrom:
              secretKeyRef:
                name: frigate
                key: back-porch-address
          - name: FRIGATE_FRONT_GATE_ADDRESS
            valueFrom:
              secretKeyRef:
                name: frigate
                key: front-gate-address
          - name: FRIGATE_LEFT_DRIVEWAY_ADDRESS
            valueFrom:
              secretKeyRef:
                name: frigate
                key: left-driveway-address
          - name: FRIGATE_SIDE_GATE_ADDRESS
            valueFrom:
              secretKeyRef:
                name: frigate
                key: side-gate-address
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

service:
  frigate:
    controller: frigate
    ports:
      https:
        port: 8971
        primary: true
      http-unauthenticated:
        port: 5000
      rtsp-restream:
        port: 8554
      webrtc-tcp:
        port: 8555
        protocol: TCP
      webrtc-udp:
        port: 8555
        protocol: UDP

configMaps:
  config:
    data:
      config.yml: |
        mqtt:
          host: mosquitto.mosquitto
          port: 1883
          topic_prefix: frigate
          password: "{FRIGATE_MQTT_PASSWORD}"
          client_id: frigate
          user: frigate
          stats_interval: 60

        detectors:
          coral:
            type: edgetpu
            device: usb

        record:
          enabled: True
          retain:
            days: 90
            mode: all
          alerts:
            retain:
              days: 90
          detections:
            retain:
              days: 90

        snapshots:
          enabled: True
          retain:
            default: 90

        go2rtc:
          streams:
            doorbell:
              - "ffmpeg:http://{FRIGATE_DOORBELL_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={FRIGATE_DOORBELL_USERNAME}&password={FRIGATE_DOORBELL_PASSWORD_URLENCODED}#video=copy#audio=copy#audio=opus"
              - "rtsp://{FRIGATE_DOORBELL_USERNAME}:{FRIGATE_DOORBELL_PASSWORD_URLENCODED}@{FRIGATE_DOORBELL_ADDRESS}/Preview_01_sub"
            doorbell_sub:
              - "ffmpeg:http://{FRIGATE_DOORBELL_ADDRESS}/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user={FRIGATE_DOORBELL_USERNAME}&password={FRIGATE_DOORBELL_PASSWORD_URLENCODED}"
              - "rtsp://{FRIGATE_DOORBELL_USERNAME}:{FRIGATE_DOORBELL_PASSWORD_URLENCODED}@{FRIGATE_DOORBELL_ADDRESS}/Preview_01_sub"
            back_porch:
              - "rtsp://{FRIGATE_AMCREST_USERNAME}:{FRIGATE_AMCREST_PASSWORD}@{FRIGATE_BACK_PORCH_ADDRESS}/cam/realmonitor?channel=1&subtype=0"
            back_porch_sub:
              - "rtsp://{FRIGATE_AMCREST_USERNAME}:{FRIGATE_AMCREST_PASSWORD}@{FRIGATE_BACK_PORCH_ADDRESS}/cam/realmonitor?channel=1&subtype=1"
            front_gate:
              - "rtsp://{FRIGATE_AMCREST_USERNAME}:{FRIGATE_AMCREST_PASSWORD}@{FRIGATE_FRONT_GATE_ADDRESS}/cam/realmonitor?channel=1&subtype=0"
            front_gate_sub:
              - "rtsp://{FRIGATE_AMCREST_USERNAME}:{FRIGATE_AMCREST_PASSWORD}@{FRIGATE_FRONT_GATE_ADDRESS}/cam/realmonitor?channel=1&subtype=1"

        cameras:
          doorbell:
            ffmpeg:
              inputs:
                - path: rtsp://127.0.0.1:8554/doorbell
                  input_args: preset-rtsp-restream
                  roles:
                    - record
                - path: rtsp://127.0.0.1:8554/doorbell_sub
                  input_args: preset-rtsp-restream
                  roles:
                    - detect
            detect:
              enabled: True
          back-porch:
            ffmpeg:
              inputs:
                - path: rtsp://127.0.0.1:8554/back_porch
                  input_args: preset-rtsp-restream
                  roles:
                    - record
                - path: rtsp://127.0.0.1:8554/back_porch_sub
                  input_args: preset-rtsp-restream
                  roles:
                    - detect
            detect:
              enabled: True
          front-gate:
            ffmpeg:
              inputs:
                - path: rtsp://127.0.0.1:8554/front_gate
                  input_args: preset-rtsp-restream
                  roles:
                    - record
                - path: rtsp://127.0.0.1:8554/front_gate_sub
                  input_args: preset-rtsp-restream
                  roles:
                    - detect
            detect:
              enabled: True

persistence:
  configmap:
    enabled: true
    type: configMap
    name: frigate
    advancedMounts:
      frigate:
        config-copy:
          - path: /configmap
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
  tmp:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
  shm:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 2Gi
    globalMounts:
      - path: /dev/shm
  nvr:
    enabled: true
    type: nfs
    path: /mnt/data/frigate
    server: 192.168.1.135
    globalMounts:
      - path: /media/frigate
  usb:
    enabled: true
    type: hostPath
    hostPath: /dev/bus/usb
    hostPathType: Directory
    globalMounts:
      - path: /dev/bus/usb
  usb-sys:
    enabled: true
    type: hostPath
    hostPath: /sys/bus/usb
    hostPathType: Directory
    globalMounts:
      - path: /sys/bus/usb

route:
  frigate:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - frigate.mcswain.dev
    rules:
      - backendRefs:
          - group: gateway.envoyproxy.io
            kind: Backend
            name: frigate
            port: 8971
        matches:
          - path:
              type: PathPrefix
              value: /
