# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  atuin:
    replicas: 1
    containers:
      atuin:
        args: ["server", "start"]
        image:
          repository: jacob.pub/ghcr.io/atuinsh/atuin
          tag: v18.10.0@sha256:4a29feda6f352581ece849807445fe1f50f2074b4643b7bfe62b27e23705b068
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: ATUIN_HOST
            value: 0.0.0.0
          - name: ATUIN_OPEN_REGISTRATION
            value: "false"
          - name: ATUIN_DB_URI
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: uri
          - name: RUST_LOG
            value: info

service:
  atuin:
    controller: atuin
    ports:
      http:
        port: 8888
      metrics:
        port: 9090

configMaps:
  config:
    data:
      server.toml: |
        [metrics]
        enable = true
        host = "0.0.0.0"
        port = 9090

persistence:
  config:
    enabled: true
    type: configMap
    name: atuin

route:
  atuin:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - atuin.mcswain.dev
    rules:
      - backendRefs:
          - name: atuin
            port: 8888
        matches:
          - path:
              type: PathPrefix
              value: /
