# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/paperless-ngx/paperless-ngx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "2.5.4@sha256:f26bdaac1122b8749f5bcf1aec2b42d0d2f3ea8652d508dffb8429f279b3ecc4"

imagePullSecrets:
- name: registry-ghcr
- name: registry-docker-hub
nameOverride: ""
fullnameOverride: ""

args: []
command: []

secrets: []
# - name: app-secret-key
#   data:
#     SECRET_KEY: ashdfsfa
# - name: app-keyfile
#   data:
#     keyfile.txt: |
#       using
#       multiline
#       strings

configs: []
# - name: app-config
#   data:
#     TEST_ENV: alive
# - name: app-otherenv
#   data:
#     SPECIAL_KEY: here
# - name: app-configfile
#   data:
#     test.ini: |
#       [test]
#       value=1

envFrom:
- secretRef:
    name: paperless-ngx
# - configMapRef:
#     name: app-config

env:
- name: PAPERLESS_REDIS
  value: redis://localhost:6379
- name: PAPERLESS_DBHOST
  value: cluster.postgres.svc.cluster.local
- name: PAPERLESS_TIKA_ENABLED
  value: '1'
- name: PAPERLESS_USE_X_FORWARD_HOST
  value: '1'
- name: PAPERLESS_DBENGINE
  value: postgres
- name: PAPERLESS_URL
  value: https://paperless.mcswain.dev
- name: PAPERLESS_TIME_ZONE
  value: America/Chicago
- name: PAPERLESS_CONSUMER_POLLING
  value: '10'
- name: PAPERLESS_ENABLE_HTTP_REMOTE_USER
  value: '1'
- name: PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME
  value: 'HTTP_X_AUTHENTIK_USERNAME'
- name: PAPERLESS_DBPASS
  valueFrom:
    secretKeyRef:
      name: paperless-ngx.paperless.cluster.credentials.postgresql.acid.zalan.do
      key: password
- name: PAPERLESS_DBUSER
  valueFrom:
    secretKeyRef:
      name: paperless-ngx.paperless.cluster.credentials.postgresql.acid.zalan.do
      key: username
# - name: SPECIAL_KEY
#   valueFrom:
#     configMapKeyRef:
#       name: app-otherenv
#       key: SPECIAL_KEY

podAnnotations:
  backup.velero.io/backup-volumes-excludes: consume,export,media

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  ports:
  - name: http
    port: 8000

persistentVolumes:
- name: data
  mountPath: /usr/src/paperless/data
  size: 5Gi
  persistentVolumeClaim:
    name: data
    storageClass: longhorn-ssd
- name: consume
  mountPath: /usr/src/paperless/consume
  nfs:
    path: /mnt/data/paperless/consume
    server: 192.168.1.135
- name: export
  mountPath: /usr/src/paperless/export
  nfs:
    path: /mnt/data/paperless/export
    server: 192.168.1.135
- name: media
  mountPath: /usr/src/paperless/media
  nfs:
    path: /mnt/data/paperless/media
    server: 192.168.1.135

# - name: config
#   mountPath: /config
#   configMap:
#     name: app-configfile
#     items:
#     - key: test.ini
#       path: config.ini
# - name: keys
#   mountPath: /keys
#   readOnly: true
#   secret:
#     secretName: app-keyfile

ingress:
  enabled: true
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: cloudflare
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/auth-response-headers: Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
    nginx.ingress.kubernetes.io/auth-signin: https://paperless.mcswain.dev/outpost.goauthentik.io/start?rd=$escaped_request_uri
    nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Host $http_host;
    nginx.ingress.kubernetes.io/auth-url: https://paperless.mcswain.dev/outpost.goauthentik.io/auth/nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  ingressClassName: nginx
  hosts:
  - host: paperless.mcswain.dev
    paths:
    - port: 8000
      path: /
      pathType: Prefix
  tls:
  - secretName: paperless-mcswain-dev-tls
    hosts:
      - paperless.mcswain.dev

extraContainers:
- image: redis:7.2.4-alpine
  imagePullPolicy: IfNotPresent
  name: redis
  resources: {}
- image: ghcr.io/paperless-ngx/tika:2.9.1-minimal@sha256:711b1ee198b5b3593fe7f5b8602b4aa313e9b3b5ddebb1e3d20ca50e7a4a1859
  imagePullPolicy: IfNotPresent
  name: tika
  resources: {}
- image: gotenberg/gotenberg:8.2.0@sha256:d0800635208897f37ac469c8d7b7ee4d143b869df5620a45d4e4f67e784ff391
  imagePullPolicy: IfNotPresent
  name: gotenberg
  resources: {}
  command:
  - "gotenberg"
  - "--chromium-disable-javascript=true"
  - "--chromium-allow-list=file:///tmp/.*"

probes:
  liveness:
    httpGet:
      path: /
      port: 8000
    failureThreshold: 5
    periodSeconds: 30
    timeoutSeconds: 10
  readiness:
    httpGet:
      path: /
      port: 8000
    failureThreshold: 5
    periodSeconds: 30
    timeoutSeconds: 10

resources:
  limits:
    cpu: 300m
    memory: 1536Mi
  requests:
    cpu: 200m
    memory: 1024Mi

nodeSelector: {}

tolerations: []

affinity: {}

lifecycle: {}
  # postStart:
  #   exec:
  #     command:
  #       - /bin/sh
  #       - -c
  #       - cp /tmp/file /var/app/file
