ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList:
      - 172.17.0.0/16
    clusterPoolIPv4MaskSize: 24
    clusterPoolIPv6PodCIDRList:
      - fdeb:abba:237c:fefe:0::/96
    clusterPoolIPv6MaskSize: 112

extraConfig:
  enable-ipv6-ndp: "true"
  ipv6-service-range: "fdeb:abba:237c:fefe:1::/112"

operator:
  replicas: 3

# Needed for pod-to-pod Wireguard connections
socketLB:
  hostNamespaceOnly: true

loadBalancer:
  mode: hybrid
  dsrDispatch: geneve

routingMode: tunnel
tunnelProtocol: geneve

externalIPs:
  enabled: true

dnsProxy:
  dnsRejectResponseCode: nameError

cni:
  exclusive: true

bpf:
  policyMapMax: 32768
  masquerade: true

ipv4:
  enabled: true

ipv6:
  enabled: true

enableIPv6Masquerade: false

global:
  encryption:
    enabled: true
    nodeEncryption: true

policyEnforcementMode: default

kubeProxyReplacement: true

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

image:
  repository: "quay.io/cilium/cilium"
  tag: "v1.18.6@sha256:42ec562a5ff6c8a860c0639f5a7611685e253fd9eb2d2fcdade693724c9166a4"
  digest: "sha256:2c92fb05962a346eaf0ce11b912ba434dc10bd54b9989e970416681f4a069628"

priorityClassName: system-node-critical

annotateK8sNode: true
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

k8sServiceHost: localhost
k8sServicePort: 7445

hubble:
  metrics:
    enabled:
    - dns:query;ignoreAAAA
    - drop
    - tcp
    - flow
    - icmp
    - http

  ui:
    enabled: true
    replicas: 1
    ingress:
      enabled: true
      className: tailscale
      hosts:
        - hubble
      tls:
        - hosts:
            - hubble

  relay:
    enabled: true

envoy:
  image:
    repository: "quay.io/cilium/cilium-envoy"
    tag: "v1.29.9-1728346947-0d05e48bfbb8c4737ec40d5781d970a550ed2bbd"
    digest: "sha256:42614a44e508f70d03a04470df5f61e3cffd22462471a0be0544cf116f2c50ba"
