# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  rmfakecloud:
    replicas: 1
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    containers:
      rmfakecloud:
        image:
          repository: jacob.pub/git.scottlabs.io/scott-labs/rmfakecloud
          tag: screenshare20
          pullPolicy: IfNotPresent
        # resources:
        #   requests:
        #   limits:
        probes:
          liveness:
            enabled: true
            type: HTTPS
            path: /health
          readiness:
            enabled: true
            type: HTTPS
            path: /health
          startup:
            enabled: true
            type: HTTPS
            path: /health
        env:
          TZ: America/Chicago
          STORAGE_URL: "https://rmfakecloud.mcswain.dev"
          MQTT_PORT: "8883"
          TLS_CERT: /certs/tls.crt
          TLS_KEY: /certs/tls.key
        securityContext:
          fsGroup: 65534
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  rmfakecloud:
    controller: rmfakecloud
    ports:
      http:
        port: 3000
      mqtt:
        port: 8883

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-ssd
  certs:
    type: secret
    name: rmfakecloud-tls

ingress:
  rmfakecloud:
    enabled: true
    className: nginx
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: cloudflare
      nginx.ingress.kubernetes.io/proxy-body-size: 300m
      nginx.ingress.kubernetes.io/proxy-read-timeout: "10800"
      nginx.ingress.kubernetes.io/client-body-buffer-size: "128k"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hosts:
      - host: rmfakecloud.mcswain.dev
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: rmfakecloud
              port: http
    tls:
      - hosts:
          - rmfakecloud.mcswain.dev
        secretName: rmfakecloud.mcswain.dev-tls
  hijack-mqtt:
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    hosts:
      - host: vernemq-prod.cloud.remarkable.engineering
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: mqtt
  hijack:
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 1000m
      nginx.ingress.kubernetes.io/proxy-read-timeout: "10800"
      nginx.ingress.kubernetes.io/client-body-buffer-size: "128k"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hosts:
      - host: hwr-production-dot-remarkable-production.appspot.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: service-manager-production-dot-remarkable-production.appspot.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: local.appspot.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: my.remarkable.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: internal.cloud.remarkable.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: ping.remarkable.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: backtrace-proxy.cloud.remarkable.engineering
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
      - host: eu.tectonic.remarkable.com
        paths:
          - path: /
            service:
              identifier: rmfakecloud
              port: http
    tls:
      - hosts:
          - hwr-production-dot-remarkable-production.appspot.com
          - service-manager-production-dot-remarkable-production.appspot.com
          - local.appspot.com
          - my.remarkable.com
          - internal.cloud.remarkable.com
          - ping.remarkable.com
          - backtrace-proxy.cloud.remarkable.engineering
          - eu.tectonic.remarkable.com
        secretName: rmfakecloud-tls
