# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  rmfakecloud:
    replicas: 1
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    containers:
      rmfakecloud:
        image:
          repository: jacob.pub/git.scottlabs.io/scott-labs/rmfakecloud
          tag: screenshare20
          pullPolicy: IfNotPresent
        # resources:
        #   requests:
        #   limits:
        probes:
          liveness:
            enabled: true
            type: HTTPS
            path: /health
          readiness:
            enabled: true
            type: HTTPS
            path: /health
          startup:
            enabled: true
            type: HTTPS
            path: /health
        env:
          TZ: America/Chicago
          STORAGE_URL: "https://rmfakecloud.mcswain.dev"
          MQTT_PORT: "8883"
          TLS_CERT: /certs/tls.crt
          TLS_KEY: /certs/tls.key
          JWT_SECRET_KEY:
            valueFrom:
              secretKeyRef:
                name: rmfakecloud
                key: jwt-secret-key
        securityContext:
          fsGroup: 65534
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

service:
  rmfakecloud:
    controller: rmfakecloud
    ports:
      http:
        port: 3000
        primary: true
        appProtocol: https
      mqtt:
        port: 8883
        appProtocol: https

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-ssd
  certs:
    type: secret
    name: rmfakecloud-tls

route:
  rmfakecloud:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - rmfakecloud.mcswain.dev
    rules:
      - backendRefs:
          - group: gateway.envoyproxy.io
            kind: Backend
            name: rmfakecloud-backend
            port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 3h
          backendRequest: 2h
  hijack-http:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - hwr-production-dot-remarkable-production.appspot.com
      - service-manager-production-dot-remarkable-production.appspot.com
      - local.appspot.com
      - my.remarkable.com
      - internal.cloud.remarkable.com
      - ping.remarkable.com
      - backtrace-proxy.cloud.remarkable.engineering
      - eu.tectonic.remarkable.com
    rules:
      - backendRefs:
          - group: gateway.envoyproxy.io
            kind: Backend
            name: rmfakecloud-backend
            port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 3h
          backendRequest: 2h
  hijack-mqtt:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - vernemq-prod.cloud.remarkable.engineering
    rules:
      - backendRefs:
          - group: gateway.envoyproxy.io
            kind: Backend
            name: rmfakecloud-backend-mqtt
            port: 8883
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 3h
          backendRequest: 2h
