# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  scrypted:
    replicas: 1
    pod:
      priorityClassName: system-cluster-critical
      nodeSelector:
        google.feature.node.kubernetes.io/coral: "true"
    containers:
      scrypted:
        securityContext:
          privileged: true
        image:
          repository: jacob.pub/ghcr.io/koush/scrypted
          tag: v0.123.58-jammy-full@sha256:d84d2a8cc897e3ddd0635aecb681900f551e3f5bf702200df4b92e4014bc22b3
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 1500m
            memory: 6Gi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: SCRYPTED_NVR_VOLUME
            value: /nvr

service:
  scrypted:
    controller: scrypted
    ports:
      http:
        port: 10443
      http-insecure:
        port: 11080

persistence:
  nvr:
    enabled: true
    type: nfs
    path: /mnt/data/nvr
    server: 192.168.1.135
  usb:
    enabled: true
    type: hostPath
    hostPath: /dev/bus/usb
    hostPathType: Directory
  usb-sys:
    enabled: true
    type: hostPath
    hostPath: /sys/bus/usb
    hostPathType: Directory
  data:
    type: persistentVolumeClaim
    storageClass: longhorn-nvme
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      scrypted:
        scrypted:
          - path: /server/volume
  scrub:
    type: persistentVolumeClaim
    storageClass: longhorn-nvme-no-replicas
    size: 30Gi
    accessMode: ReadWriteOnce

route:
  scrypted:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - nvr.mcswain.dev
      - cloud.nvr.mcswain.dev
    rules:
      - backendRefs:
          - name: scrypted
            port: 11080
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 1d
          backendRequest: 1d
