controllers:
  rtz:
    replicas: 3
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    pod:
      securityContext:
        fsGroup: 65534
    containers:
      rtz:
        securityContext:
          runAsNonRoot: true
          runAsUser: 65534
          runAsGroup: 65534
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/rtz-server
          tag: v0.0.248
          pullPolicy: IfNotPresent
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          limits:
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: HTTP__CORS_HOSTS
          value: "https://openpilot.jacob.network,http://localhost:5173,https://rtz.pages.dev,https://*.rtz.pages.dev,http://localhost:4173,https://*.new-rtz.pages.dev,https://new-rtz.pages.dev"
        - name: HTTP__TRUSTED_PROXIES
          value: "172.17.0.0/16"
        - name: PERSISTENCE__DATABASE__DRIVER
          value: "postgres"
        - name: PERSISTENCE__DATABASE__DATABASE
          valueFrom:
            secretKeyRef:
              name: postgresql-app
              key: dbname
        - name: PERSISTENCE__DATABASE__USERNAME
          valueFrom:
            secretKeyRef:
              name: postgresql-app
              key: username
        - name: PERSISTENCE__DATABASE__PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-app
              key: password
        - name: PERSISTENCE__DATABASE__PORT
          valueFrom:
            secretKeyRef:
              name: postgresql-app
              key: port
        - name: PERSISTENCE__DATABASE__HOST
          valueFrom:
            secretKeyRef:
              name: postgresql-app
              key: host
        - name: PERSISTENCE__UPLOADS__DRIVER
          value: "s3"
        - name: PERSISTENCE__UPLOADS__S3_OPTIONS__BUCKET
          value: rtz-uploads
        - name: PERSISTENCE__UPLOADS__S3_OPTIONS__ENDPOINT
          value: https://s3.mcswain.dev
        - name: PERSISTENCE__UPLOADS__S3_OPTIONS__REGION
          value: us-east-1
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: rtz
              key: minio-access-key
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: rtz
              key: minio-secret-key
        - name: LOG_LEVEL
          value: "info"
        - name: AUTH__CUSTOM__ENABLED
          value: "true"
        - name: AUTH__CUSTOM__CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: rtz
              key: custom-client-id
        - name: AUTH__CUSTOM__CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: rtz
              key: custom-client-secret
        - name: AUTH__CUSTOM__TOKEN_URL
          value: https://authentik.mcswain.dev/login/oauth/access_token
        - name: AUTH__CUSTOM__USER_URL
          value: https://authentik.mcswain.dev/user
        - name: HTTP__BACKEND_URL
          value: 'https://openpilot.jacob.network'
        - name: JWT__SECRET
          valueFrom:
            secretKeyRef:
              name: rtz
              key: jwt-secret
        - name: NATS__ENABLED
          value: "true"
        - name: NATS__TOKEN
          valueFrom:
            secretKeyRef:
              name: rtz
              key: nats-token
        - name: NATS__URL
          value: nats://nats:4222
        - name: HTTP__METRICS__ENABLED
          value: "true"
        - name: HTTP__METRICS__IPV4_HOST
          value: "0.0.0.0"
        - name: HTTP__PPROF__ENABLED
          value: "false"
        # - name: HTTP__TRACING__ENABLED
        #   value: "true"
        # - name: HTTP__TRACING__OTLP_ENDPOINT
        #   value: signoz-k8s-infra-otel-agent.signoz.svc.cluster.local:4317
        - name: MAPBOX__PUBLIC_TOKEN
          valueFrom:
            secretKeyRef:
              name: rtz
              key: mapbox-public-token
        - name: MAPBOX__SECRET_TOKEN
          valueFrom:
            secretKeyRef:
              name: rtz
              key: mapbox-secret-token

service:
  rtz:
    controller: rtz
    ports:
      http:
        port: 8080
      metrics:
        port: 8081

route:
  rtz:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - openpilot.jacob.network
    rules:
      - backendRefs:
          - name: rtz
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /

serviceMonitor:
  rtz:
    enabled: true
    serviceName: rtz
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s
