ipam:
  mode: kubernetes
  operator:
    clusterPoolIPv4PodCIDRList:
      - 172.17.0.0/16
    clusterPoolIPv4MaskSize: 24

operator:
  replicas: 3

# Needed for pod-to-pod Wireguard connections
socketLB:
  hostNamespaceOnly: true

loadBalancer:
  mode: hybrid
  dsrDispatch: geneve

routingMode: tunnel
tunnelProtocol: geneve

externalIPs:
  enabled: true

dnsProxy:
  dnsRejectResponseCode: nameError

cni:
  exclusive: true

bpf:
  policyMapMax: 32768
  masquerade: true

global:
  encryption:
    enabled: true
    nodeEncryption: true

policyEnforcementMode: default

l2announcements:
  enabled: true

k8sClientRateLimit:
  qps: 100
  burst: 200

kubeProxyReplacement: true

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

image:
  repository: "quay.io/cilium/cilium"
  tag: "v1.16.3"
  digest: "sha256:cd096a343861d48e2849b403f0c410bfbb36e64d042f0692b73b93c97d94d9bd"

priorityClassName: system-node-critical

annotateK8sNode: true
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

k8sServiceHost: localhost
k8sServicePort: 7445

hubble:
  metrics:
    enabled:
    - dns:query;ignoreAAAA
    - drop
    - tcp
    - flow
    - icmp
    - http

  ui:
    enabled: true
    replicas: 1
    ingress:
      enabled: true
      className: nginx
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: cloudflare
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/auth-response-headers: Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
        nginx.ingress.kubernetes.io/auth-signin: https://authentik.mcswain.dev/outpost.goauthentik.io/start?rd=$escaped_request_uri
        nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Host $http_host;
        nginx.ingress.kubernetes.io/auth-url: http://ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
        nginx.ingress.kubernetes.io/configuration-snippet: expires -1;
      hosts:
        - hubble.mcswain.dev
      tls:
        - secretName: hubble.mcswain.dev-tls
          hosts:
            - hubble.mcswain.dev

  relay:
    enabled: true

LBIPAM:
  requireLBClass: true

envoy:
  image:
    repository: "quay.io/cilium/cilium-envoy"
    tag: "v1.29.9-1728346947-0d05e48bfbb8c4737ec40d5781d970a550ed2bbd"
    digest: "sha256:42614a44e508f70d03a04470df5f61e3cffd22462471a0be0544cf116f2c50ba"
