# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  astro-processing:
    replicas: 1

    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch

    containers:
      app:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/astro-processing
          tag: "beta@sha256:f3d49e171ddc9ef760310f38362b5ea630269c667d085321a39069dc47acd50f"
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          DB_USER:
            secretKeyRef:
              name: postgresql-app
              key: user
          DB_PASS:
            secretKeyRef:
              name: postgresql-app
              key: password
          DB_HOST:
            secretKeyRef:
              name: postgresql-app
              key: host
          DB_PORT:
            secretKeyRef:
              name: postgresql-app
              key: port
          DB_NAME:
            value: "schedulerdb"
          STORAGE_TYPE:
            value: "postgres"
          STORAGE_DSN:
            value: host=$(DB_HOST) user=$(DB_USER) password=$(DB_PASS) dbname=$(DB_NAME) port=$(DB_PORT) sslmode=disable
            dependsOn: [DB_USER, DB_PASS, DB_HOST, DB_PORT, DB_NAME]
          METRICS_ENABLED:
            value: "true"
          METRICS_BIND:
            value: "[::]"
          PPROF_ENABLED:
            value: "true"
          PPROF_BIND:
            value: "[::]"
          LOG_LEVEL:
            value: "debug"
          HTTP_TRUSTED_PROXIES:
            value: "172.17.0.0/16"

service:
  astro-processing:
    controller: astro-processing
    ports:
      http:
        port: 8080
      metrics:
        port: 9090
      pprof:
        port: 9999

serviceMonitor:
  astro-processing:
    enabled: true
    serviceName: astro-processing
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: astro-processing
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: astro-processing
              port: http
    tls:
      - hosts:
          - astro-processing
