# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  frontend:
    replicas: 1
    strategy: RollingUpdate

    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch

    containers:
      frontend:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/astro-processing-frontend
          tag: "beta@sha256:8d58cb22e3a76b12e97e6a6e3cb643dd78046818ad8156c0b835f39a49654535"
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

  backend:
    replicas: 1
    strategy: RollingUpdate

    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch

    containers:
      backend:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/astro-processing
          tag: "beta@sha256:2e3132caae188b64d56a60b141169c214e1564231377d50d43eb5d0f959ff731"
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          DB_USER:
            secretKeyRef:
              name: postgresql-app
              key: user
          DB_PASS:
            secretKeyRef:
              name: postgresql-app
              key: password
          DB_HOST:
            secretKeyRef:
              name: postgresql-app
              key: host
          DB_PORT:
            secretKeyRef:
              name: postgresql-app
              key: port
          DB_NAME:
            value: "schedulerdb"
          STORAGE_TYPE:
            value: "postgres"
          STORAGE_DSN:
            value: host=$(DB_HOST) user=$(DB_USER) password=$(DB_PASS) dbname=$(DB_NAME) port=$(DB_PORT) sslmode=disable
            dependsOn: [DB_USER, DB_PASS, DB_HOST, DB_PORT, DB_NAME]
          METRICS_ENABLED:
            value: "true"
          METRICS_BIND:
            value: "[::]"
          PPROF_ENABLED:
            value: "true"
          PPROF_BIND:
            value: "[::]"
          LOG_LEVEL:
            value: "debug"
          HTTP_TRUSTED_PROXIES:
            value: "172.17.0.0/16"

service:
  frontend:
    controller: frontend
    ports:
      http:
        port: 8080
  backend:
    controller: backend
    ports:
      http:
        port: 8080
      metrics:
        port: 9090
      pprof:
        port: 9999

persistence:
  nginx-tmp:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    advancedMounts:
      frontend:
        frontend:
          - path: /tmp

serviceMonitor:
  backend:
    enabled: true
    serviceName: backend
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: astro-processing
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: frontend
              port: http
        - path: /query
          pathType: Exact
          service:
              identifier: backend
              port: http
    tls:
      - hosts:
          - astro-processing
