apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: tailscale
spec:
  metrics:
    enable: true
  statefulSet:
    pod:
      nodeSelector:
        kubernetes.io/os: "linux"
      imagePullSecrets:
        - name: registry-zot
      tailscaleContainer:
        image: jacob.pub/ghcr.io/tailscale/tailscale:v1.94.2@sha256:95e528798bebe75f39b10e74e7051cf51188ee615934f232ba7ad06a3390ffa1
        securityContext:
          privileged: true
          capabilities:
            add:
              - NET_ADMIN
          appArmorProfile:
            type: Unconfined
      tailscaleInitContainer:
        image: jacob.pub/ghcr.io/tailscale/tailscale:v1.94.2@sha256:95e528798bebe75f39b10e74e7051cf51188ee615934f232ba7ad06a3390ffa1
        securityContext:
          privileged: true
          capabilities:
            add:
              - NET_ADMIN
          appArmorProfile:
            type: Unconfined
