apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: tailscale
spec:
  metrics:
    enable: true
  statefulSet:
    pod:
      nodeSelector:
        kubernetes.io/os: "linux"
      imagePullSecrets:
        - name: registry-zot
      tailscaleContainer:
        image: jacob.pub/ghcr.io/tailscale/tailscale:v1.90.9@sha256:9975353aae933e8fbd1a81226d092a9225b9a0f98b173d365a9d525eca1cc298
        securityContext:
          privileged: true
          capabilities:
            add:
              - NET_ADMIN
          appArmorProfile:
            type: Unconfined
      tailscaleInitContainer:
        image: jacob.pub/ghcr.io/tailscale/tailscale:v1.90.9@sha256:9975353aae933e8fbd1a81226d092a9225b9a0f98b173d365a9d525eca1cc298
        securityContext:
          privileged: true
          capabilities:
            add:
              - NET_ADMIN
          appArmorProfile:
            type: Unconfined
