# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  iperf3:
    replicas: 1
    pod:
      nodeSelector:
        kubernetes.io/hostname: alpha
      securityContext:
        runAsNonRoot: true
        runAsUser: 65535
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    containers:
      iperf3:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/iperf3
          tag: 3.19.1@sha256:956a46ca794850eb139231ac2ec3adc84000c6d0435b573276591e640297cbcd
          pullPolicy: IfNotPresent
        args:
          - -s
          - --idle-timeout
          - "3"
        ports:
          - containerPort: 5201
            hostPort: 5202
            protocol: TCP
        resources:
          requests: {}
          limits: {}
        securityContext:
          fsGroup: 65534
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  iperf3:
    controller: iperf3
    annotations:
      tailscale.com/expose: "true"
      tailscale.com/hostname: "iperf3"
    ports:
      iperf:
        port: 5201

route:
  iperf3:
    enabled: true
    kind: TCPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: iperf3
    rules:
      - backendRefs:
          - name: iperf3
            port: 5201

persistence:
  tmp:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
