apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minio
resources:
  - ns.yaml
  - data.yaml
  - helm.yaml
  - networkpolicy.yaml
  - backend-traffic-policy.yaml
configMapGenerator:
  - name: chart-values
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
