# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  minio:
    replicas: 1
    containers:
      minio:
        args:
          - server
          - /data
          - --console-address
          - ":443"
          - --address
          - ":9000"
        image:
          repository: ghcr.io/usa-reddragon/http-logger
          tag: beta@sha256:56b41f79b68aaa743ba36324b039bc135a1287c8d0f5a6672b75af47a57a63f3
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 6Gi
          requests:
            cpu: '1'
            memory: 3Gi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: MINIO_BROWSER_REDIRECT_URL
            value: https://minio.mcswain.dev
        envFrom:
          - secretRef:
              name: minio-user

service:
  minio:
    controller: minio
    ports:
      s3:
        port: 8080

persistence:
  data:
    enabled: true
    existingClaim: minio-data

route:
  s3:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - s3.mcswain.dev
    rules:
      - backendRefs:
          - name: minio
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /
