# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  minio:
    replicas: 1
    containers:
      minio:
        args:
          - server
          - /data
          - --console-address
          - ":443"
          - --address
          - ":9000"
        image:
          repository: ghcr.io/usa-reddragon/minio
          tag: RELEASE.2025-08-29T21-27-49Z@sha256:fbf5d03f263ea24866c351a9aad8da591b0a9f29eea02a275a4b49f95f966d87
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 6Gi
          requests:
            cpu: '1'
            memory: 3Gi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: MINIO_BROWSER_REDIRECT_URL
            value: https://minio.mcswain.dev
        envFrom:
          - secretRef:
              name: minio-user

service:
  minio:
    controller: minio
    ports:
      console:
        port: 443
      s3:
        port: 9000

persistence:
  data:
    enabled: true
    existingClaim: minio-data

route:
  console:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - minio.mcswain.dev
    rules:
      - backendRefs:
          - name: minio
            port: 443
        matches:
          - path:
              type: PathPrefix
              value: /
  s3:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - s3.mcswain.dev
    rules:
      - backendRefs:
          - name: minio
            port: 9000
        matches:
          - path:
              type: PathPrefix
              value: /
