apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: services
  namespace: flux-system
spec:
  interval: 5m
  path: ./services
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
