# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  kosync:
    replicas: 1
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
    containers:
      kosync:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/kosync
          tag: v0.0.16
          pullPolicy: IfNotPresent
        resources:
          requests: {}
          limits: {}
        env:
          DB_USER:
            secretKeyRef:
              name: postgresql-app
              key: user
          DB_PASS:
            secretKeyRef:
              name: postgresql-app
              key: password
          DB_HOST:
            secretKeyRef:
              name: postgresql-app
              key: host
          DB_PORT:
            secretKeyRef:
              name: postgresql-app
              key: port
          DB_NAME:
            secretKeyRef:
              name: postgresql-app
              key: dbname
          AUTH_SALT:
            secretKeyRef:
              name: kosync
              key: salt
          STORAGE_TYPE:
            value: "postgres"
          STORAGE_DSN:
            value: host=$(DB_HOST) user=$(DB_USER) password=$(DB_PASS) dbname=$(DB_NAME) port=$(DB_PORT) sslmode=disable
            dependsOn: [DB_USER, DB_PASS, DB_HOST, DB_PORT, DB_NAME]
          METRICS_ENABLED:
            value: "true"
          LOG_LEVEL:
            value: "debug"
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        securityContext:
          fsGroup: 568
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  kosync:
    controller: kosync
    ports:
      http:
        port: 8080
      metrics:
        port: 9000
      pprof:
        port: 9999

route:
  kosync:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - kosync.mcswain.dev
    rules:
      - backendRefs:
          - name: kosync
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /

ingress:
  tailscale:
    enabled: true
    className: tailscale
    hosts:
      - host: kosync
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: kosync
              port: http
    tls:
      - hosts:
          - kosync

serviceMonitor:
  kosync:
    enabled: true
    serviceName: kosync
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s
