# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  server:
    replicas: 2
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    serviceAccount:
      name: rbac-authentik-remote-cluster
    pod:
      labels:
        app.kubernetes.io/component: server
    containers:
      server:
        image:
          repository: jacob.pub/ghcr.io/goauthentik/server
          tag: 2025.12.4@sha256:33a92b246b798f23931ce62027e045ecf302c3bc198b6389225973db6448a886
          pullPolicy: IfNotPresent
        args: [server]
        resources:
          limits:
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 600Mi
        env: &authentik-postgres-envs
          - name: AUTHENTIK_POSTGRESQL__PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: password
          - name: AUTHENTIK_POSTGRESQL__USER
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: username
          - name: AUTHENTIK_POSTGRESQL__HOST
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: host
          - name: AUTHENTIK_POSTGRESQL__NAME
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: dbname
        envFrom: &authentik-envfrom
          - secretRef:
              name: authentik-secrets
          - configMapRef:
              name: authentik
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
  worker:
    replicas: 2
    strategy: RollingUpdate
    rollingUpdate:
      unavailable: 1
      surge: 25%
    serviceAccount:
      name: rbac-authentik-remote-cluster
    pod:
      labels:
        app.kubernetes.io/component: worker
    containers:
      worker:
        image:
          repository: jacob.pub/ghcr.io/goauthentik/server
          tag: 2025.12.4@sha256:33a92b246b798f23931ce62027e045ecf302c3bc198b6389225973db6448a886
          pullPolicy: IfNotPresent
        args: [worker]
        resources:
          limits:
            memory: 700Mi
          requests:
            cpu: 10m
            memory: 600Mi
        env: *authentik-postgres-envs
        envFrom: *authentik-envfrom

configMaps:
  config:
    data:
      AUTHENTIK_EMAIL__HOST: email.mcswain.dev
      AUTHENTIK_EMAIL__PORT: '465'
      AUTHENTIK_EMAIL__USERNAME: authentik
      AUTHENTIK_EMAIL__USE_TLS: "false"
      AUTHENTIK_EMAIL__USE_SSL: "true"
      AUTHENTIK_EMAIL__FROM: authentik@mcswain.dev
      AUTHENTIK_ERROR_REPORTING__ENABLED: 'false'
      AUTHENTIK_DISABLE_STARTUP_ANALYTICS: 'true'
      AUTHENTIK_AVATARS: initials
      AUTHENTIK_DISABLE_UPDATE_CHECK: "true"

service:
  server:
    controller: server
    ports:
      http:
        port: 9000
        primary: true
      https:
        port: 9443
      metrics:
        port: 9300

serviceMonitor:
  server:
    enabled: true
    serviceName: server
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 10s
        scrapeTimeout: 10s

route:
  server:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - authentik.mcswain.dev
    rules:
      - backendRefs:
          - name: authentik
            port: 9000
        matches:
          - path:
              type: PathPrefix
              value: /
