apiVersion: v1
data:
  Corefile: |-
    .:53 {
        forward . 192.168.1.1
        errors
        health {
            lameduck 5s
        }
        ready
        prometheus :9153

        etcd {
            stubzones
            fallthrough
            path /skydns
            endpoint http://etcd-0.etcd-headless.split-dns:2379 http://etcd-1.etcd-headless.split-dns:2379 http://etcd-2.etcd-headless.split-dns:2379
        }

        log
        loop
        reload
        loadbalance
    }
kind: ConfigMap
metadata:
  name: coredns
  namespace: split-dns
