# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  meshmap:
    replicas: 1
    pod:
      securityContext:
        sysctls:
        - name: net.ipv4.conf.all.src_valid_mark
          value: "1"
    containers:
      wireguard-init:
        image:
          repository: jacob.pub/ghcr.io/usa-reddragon/wireguard
          tag: main@sha256:1fca4f1fc917a46e1443dffc1201ed9f516e12fb29dba9471e74762834901cc6
        securityContext:
          privileged: true
          capabilities:
            add:
            - NET_ADMIN
        command:
        - /bin/sh
        - -c
        - |
          export GW=$(ip r list match default | awk '{ print $3 }') && \
          wg-quick down wg0 || true && \
          ip link del wg0 || true && \
          wg-quick up /etc/wireguard/wg0.conf && \
          iptables -P OUTPUT DROP && \
          iptables -I OUTPUT 1 -d 127.0.0.1/32 -j ACCEPT && \
          iptables -I OUTPUT 1 -d $GW/32 -j ACCEPT && \
          iptables -I OUTPUT 1 -d 172.27.1.0/24 -j ACCEPT && \
          iptables -I OUTPUT 1 -d 172.17.0.0/16 -j ACCEPT && \
          iptables -I OUTPUT 1 -d 172.18.0.0/16 -j ACCEPT && \
          iptables -I OUTPUT 1 -d 10.0.0.0/8 -j ACCEPT && \
          iptables -I OUTPUT 1 -o wg0 -j ACCEPT && \
          ip r del default && \
          ip r add default via 172.27.1.1 dev wg0 && \
          ip r add 172.17.0.0/16 via $GW dev eth0 && \
          ip r add 172.18.0.0/16 via $GW dev eth0
          sleep infinity
    # containers:
    #   meshmap:
    #     image:
    #       repository: jacob.pub/ghcr.io/usa-reddragon/meshmap
    #       tag: k8s@sha256:07a0144b75af52da82f68f946fc05cd52739d13181e65278d62def7398818115
    #     env:
    #     - name: RETRIES
    #       value: "5"
    #     - name: TIMEOUT
    #       value: "60"
    #     - name: CONCURRENCY
    #       value: "100"
    #     - name: STARTING_NODE
    #       value: "KI5VMF-CLOUD-TUNNEL-supernode"
    #     - name: APP_CONFIG
    #       value: '{"name":"Oklahoma Mesh","mapSettings":{"zoom":"10","mapCenter":{"node":"KP4DJT-HAP","lat":"35.4704","lon":"-97.5147"},"servers":[{"test":"https://c.tile.openstreetmap.org/10/162/395.png","url":"https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}]},"contactInfo":{"callsign":"KI5VMF","name":"Jacob McSwain","email":"mesh-map@mcswain.dev"},"nodesFilter":"[a-zA-z]+[0-9][a-zA-Z]+","offline":true}'
    #     probes:
    #       liveness:
    #         enabled: true
    #       readiness:
    #         enabled: true
    #       startup:
    #         enabled: true
    #     resources:
    #       limits:
    #         memory: 500Mi
    #       requests:
    #         cpu: 74m
    #         memory: 340Mi

service:
  meshmap:
    controller: meshmap
    ports:
      http:
        port: 80

persistence:
  mesh-data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: longhorn-ssd
    advancedMounts:
      meshmap:
        meshmap:
          - path: /usr/share/nginx/html/data
  wireguard-config:
    enabled: true
    type: secret
    name: meshmap-wireguard-config
    advancedMounts:
      meshmap:
        wireguard-init:
          - path: /etc/wireguard

route:
  meshmap:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - meshmap.aredn.mcswain.dev
    rules:
      - backendRefs:
          - name: meshmap
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
