## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

controllers:
  main:
    containers:
      main:
        env:
          REDIS_HOSTNAME: redis-app
          DB_HOSTNAME: postgresql-rw
          DB_DATABASE_NAME: immich
          DB_USERNAME: immich
          DB_PASSWORD:
            secretKeyRef:
              name: postgresql-app
              key: password
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'

immich:
  metrics:
    enabled: true
  persistence:
    # Main data store for all photos shared between different components.
    library:
      # Automatically creating the library volume is not supported by this chart
      # You have to specify an existing PVC to use
      existingClaim: immich-photos

# Immich components

server:
  enabled: true
  controllers:
    main:
      strategy: Recreate
      containers:
        main:
          image:
            repository: jacob.pub/ghcr.io/immich-app/immich-server
            tag: v1.144.1
            pullPolicy: IfNotPresent
          env:
            CPU_CORES: '1'
            TZ: America/Chicago
            IMMICH_CONFIG_FILE: /config/config.json
            IMMICH_TRUSTED_PROXIES: 172.17.0.0/16
            IMMICH_METRICS: 'true'
            IMMICH_API_METRICS: 'true'
            IMMICH_IO_METRICS: 'true'
            IMMICH_JOB_METRICS: 'true'
          resources:
            requests:
              memory: 750Mi
              cpu: 300m
  persistence:
    config:
      enabled: true
      type: secret
      mountPath: /config
      name: immich-config
      readOnly: true
  route:
    main:
      enabled: true
      kind: HTTPRoute
      parentRefs:
        - name: public
          namespace: envoy-gateway-system
          sectionName: https
      hostnames:
        - photos.mcswain.dev
      rules:
        - backendRefs:
            - name: immich-server
              port: 2283
          matches:
            - path:
                type: PathPrefix
                value: /

machine-learning:
  enabled: true
  controllers:
    main:
      strategy: Recreate
      containers:
        main:
          image:
            repository: jacob.pub/ghcr.io/immich-app/immich-machine-learning
            tag: v1.144.1
            pullPolicy: IfNotPresent
          env:
            TRANSFORMERS_CACHE: /cache
            HF_XET_CACHE: /cache/huggingface-xet
            MPLCONFIGDIR: /cache/matplotlib-config
          resources:
            requests:
              memory: 600Mi
              cpu: '1'
            limits:
              memory: 1.3Gi
              cpu: '1'
  persistence:
    cache:
      enabled: true
      size: 10Gi
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      storageClass: longhorn-ssd
