# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  docker-proxy:
    strategy: RollingUpdate
    replicas: 1
    pod:
      priorityClassName: system-cluster-critical
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
    containers:
      docker-proxy:
        image:
          repository: ghcr.io/usa-reddragon/zot-docker-proxy
          tag: v1.0.0@sha256:1b5f9e7775398dd6b6d56494f128db9d36360895fc56b370dd8dbfcee5458da9
          pullPolicy: IfNotPresent
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: ZOT_URL
            value: http://zot:5000
          - name: MY_URL
            value: https://jacob.pub
          - name: CORS_ALLOWED_ORIGINS
            value: https://jacob.pub
          - name: SECRET
            valueFrom:
              secretKeyRef:
                name: docker-proxy
                key: secret
  zot:
    strategy: RollingUpdate
    replicas: 1
    pod:
      priorityClassName: system-cluster-critical
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      labels:
        valkey-client: "true"
    containers:
      zot:
        args:
        - serve
        - /etc/zot/config.yaml
        image:
          repository: ghcr.io/project-zot/zot
          tag: v2.1.11@sha256:3173a595c5bbb62dcce0bc13c6d86d4dbfbaae3167fb0dacc79d0b50eb494783
          pullPolicy: IfNotPresent
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        probes:
          liveness:
            enabled: true
            spec:
              initialDelaySeconds: 1800
          readiness:
            enabled: true
            spec:
              initialDelaySeconds: 1800
          startup:
            enabled: true
            spec:
              initialDelaySeconds: 1800
        env:
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: minio
                key: accesskey
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: minio
                key: secretkey

service:
  zot:
    controller: zot
    ports:
      http:
        port: 5000
  docker-proxy:
    controller: docker-proxy
    ports:
      http:
        port: 8080

configMaps:
  config:
    data:
      config.yaml: |
        http:
          address: 0.0.0.0
          port: 5000
          externalUrl: https://jacob.pub
          compat: [docker2s2]
          accessControl:
            adminPolicy:
              groups: [trusted]
              actions: [create, read, update, delete, detectManifestCollision]
            repositories:
              "**":
                defaultPolicy: [read]
              "pub/**":
                defaultPolicy: [read]
                anonymousPolicy: [read]
          auth:
            failDelay: 3
            sessionKeysFile: /etc/zot/sessionkeys.json
            openid:
              providers:
                oidc:
                  issuer: https://authentik.mcswain.dev/application/o/zot/
                  scopes: [openid, profile, email, groups]
                  clientid: ${zot_oidc_clientid}
                  clientsecret: ${zot_oidc_clientsecret}
        log:
          level: info
        extensions:
          ui:
            enable: true
          search:
            enable: true
          metrics:
            enable: true
            prometheus:
              path: /metrics
          sync:
            enable: true
            credentialsFile: /etc/zot/registry-credentials/credentials.json
            DownloadDir: /tmp/zot
            registries:
              - urls:
                  - https://ghcr.io
                onDemand: false
                pollInterval: 5m
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "/usa-reddragon/**"
                    stripPrefix: false
                    destination: "/ghcr.io"
              - urls:
                  - https://ghcr.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/ghcr.io"
              - urls:
                  - https://docker.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/docker.io"
              - urls:
                  - https://git.scottlabs.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/git.scottlabs.io"
              - urls:
                  - https://quay.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/quay.io"
              - urls:
                  - https://lscr.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/lscr.io"
              - urls:
                  - https://nvcr.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/nvcr.io"
              - urls:
                  - https://reg.kyverno.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/reg.kyverno.io"
              - urls:
                  - https://registry.k8s.io
                onDemand: true
                maxRetries: 5
                retryDelay: 5m
                onlySigned: false
                content:
                  - prefix: "**"
                    stripPrefix: false
                    destination: "/registry.k8s.io"

        storage:
          rootDirectory: /tmp/zot
          remoteCache: true
          cacheDriver:
            name: redis
            url: redis://:${valkey_password}@valkey:6379
          dedupe: true
          storageDriver:
            name: s3
            regionendpoint: minio.minio.svc.cluster.local:9000
            forcepathstyle: true
            region: us-east-1
            bucket: zot
            secure: false

persistence:
  config:
    enabled: true
    type: configMap
    name: zot
    advancedMounts:
      zot:
        zot:
          - path: /etc/zot/config.yaml
            subPath: config.yaml
  registry-credentials:
    enabled: true
    type: secret
    name: zot-registry-credentials
    advancedMounts:
      zot:
        zot:
          - path: /etc/zot/registry-credentials/credentials.json
            subPath: credentials.json
  sessionkeys:
    enabled: true
    type: secret
    name: zot-sessionkeys
    advancedMounts:
      zot:
        zot:
          - path: /etc/zot/sessionkeys.json
            subPath: sessionkeys
  auth-cert:
    enabled: true
    type: secret
    name: zot-auth-cert
    advancedMounts:
      zot:
        zot:
          - path: /ssl/tls.crt
            subPath: tls.crt
  tmp-zot:
    enabled: true
    type: emptyDir
    medium: Memory
    advancedMounts:
      zot:
        zot:
          - path: /tmp/zot

route:
  zot:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - jacob.pub
    rules:
      - backendRefs:
          - name: zot-docker-proxy
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /
        timeouts:
          request: 24h
          backendRequest: 23h
