# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  tandoor:
    strategy: RollingUpdate
    replicas: 1
    pod:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
    containers:
      tandoor:
        image:
          repository: jacob.pub/docker.io/vabene1111/recipes
          tag: 1.5.35@sha256:188da7487f777101c6abe996284df7966d9dd58c9b676447d5f880a5268a4393
          pullPolicy: IfNotPresent
        resources:
          limits:
            memory: 500Mi
          requests:
            memory: 250Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        securityContext:
          readOnlyRootFilesystem: true
        envFrom:
          - secretRef:
              name: app-secrets
        env:
          - name: S3_ENDPOINT_URL
            value: https://s3.mcswain.dev
          - name: S3_BUCKET_NAME
            value: tandoor
          - name: S3_REGION_NAME
            value: us-east-1
          - name: DB_ENGINE
            value: django.db.backends.postgresql
          - name: DEBUG
            value: "0"
          - name: POSTGRES_PORT
            value: "5432"
          - name: TZ
            value: "America/Chicago"
          - name: GUNICORN_MEDIA
            value: "0"
          - name: GUNICORN_WORKERS
            value: "2"
          - name: GUNICORN_THREADS
            value: "2"
          - name: SOCIAL_PROVIDERS
            value: allauth.socialaccount.providers.openid_connect
          - name: EMAIL_HOST
            value: email.mcswain.dev
          - name: EMAIL_PORT
            value: "465"
          - name: EMAIL_HOST_USER
            value: tandoor
          - name: EMAIL_USE_TLS
            value: "0"
          - name: EMAIL_USE_SSL
            value: "1"
          - name: DEFAULT_FROM_EMAIL
            value: recipes@mcswain.dev
          - name: ACCOUNT_EMAIL_SUBJECT_PREFIX
            value: '[Recipes] '
          - name: ENABLE_PDF_EXPORT
            value: "1"
          - name: PYTHONUNBUFFERED
            value: "1"
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: password
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: username
          - name: POSTGRES_HOST
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: host
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: postgresql-app
                key: dbname

service:
  tandoor:
    controller: tandoor
    ports:
      http:
        port: 8080

persistence:
  static:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /opt/recipes/staticfiles
        subPath: staticfiles
      - path: /opt/recipes/cookbook/static/django_js_reverse
        subPath: django_js_reverse
  tmp:
    enabled: true
    type: emptyDir

route:
  tandoor:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: public
        namespace: envoy-gateway-system
        sectionName: https
    hostnames:
      - recipes.mcswain.dev
    rules:
      - backendRefs:
          - name: tandoor
            port: 8080
        matches:
          - path:
              type: PathPrefix
              value: /
      - matches:
          - path:
              type: Exact
              value: /accounts/login
        filters:
          - type: RequestRedirect
            requestRedirect:
              statusCode: 302
              scheme: https
              hostname: recipes.mcswain.dev
              path:
                value: /accounts/oidc/authentik/login
