# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json

controllers:
  calibre:
    replicas: 1
    pod:
      securityContext:
        fsGroup: 911
    containers:
      calibre:
        image:
          repository: jacob.pub/lscr.io/linuxserver/calibre
          tag: 9.4.0@sha256:ec82029d6968b26982647b340d32592edaa6de90dd4dcc2c2dd603a75ee66da2
          pullPolicy: IfNotPresent
        resources:
          requests:
            cpu: '1'
            memory: 2Gi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        env:
          - name: TZ
            value: America/Chicago

service:
  calibre:
    controller: calibre
    primary: true
    ports:
      vnc:
        port: 8080
  content:
    controller: calibre
    primary: false
    annotations:
      tailscale.com/expose: "true"
      tailscale.com/hostname: "calibre"
    ports:
      content:
        port: 8081

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 10Gi
  media-books:
    enabled: true
    type: nfs
    path: /mnt/data/media/Books
    server: 192.168.1.135

ingress:
  tailscale-vnc:
    enabled: true
    className: tailscale
    hosts:
      - host: calibre-vnc
        paths:
        - path: /
          pathType: Prefix
          service:
              identifier: calibre
              port: vnc
    tls:
      - hosts:
          - calibre-vnc
