controllers:
  mariadb:
    containers:
      mariadb:
        image:
          repository: jacob.pub/docker.io/mariadb
          tag: 12.0.2@sha256:a5af517d52262da1583cebe6b7c970d7bbeaf1f016938c2fc3cf2e95c52d8c08
        env:
          MARIADB_DATABASE: weewx
          MARIADB_USER: weewx
        resources:
          requests:
            memory: 256Mi
            cpu: 30m
          limits: {}

persistence:
  data:
    storageClass: longhorn-nvme
    accessMode: ReadWriteOnce
    size: 8Gi
